{
  "SourceDefinitions": {
    "create_source_definition": [
      "self"
    ],
    "create_source_definition_async": [
      "self"
    ],
    "delete_source_definition": [
      "self"
    ],
    "delete_source_definition_async": [
      "self"
    ],
    "get_source_definition": [
      "self"
    ],
    "get_source_definition_async": [
      "self"
    ],
    "list_source_definitions": [
      "self"
    ],
    "list_source_definitions_async": [
      "self"
    ],
    "update_source_definition": [
      "self"
    ],
    "update_source_definition_async": [
      "self"
    ]
  },
  "BaseSDK": {
    "__init__": [
      "self",
      "sdk_config",
      "parent_ref"
    ],
    "_get_url": [
      "self",
      "base_url",
      "url_variables"
    ],
    "_build_request_async": [
      "self",
      "method",
      "path",
      "base_url",
      "url_variables",
      "request",
      "request_body_required",
      "request_has_path_params",
      "request_has_query_params",
      "user_agent_header",
      "accept_header_value",
      "_globals",
      "security",
      "timeout_ms",
      "get_serialized_body",
      "url_override",
      "http_headers",
      "allow_empty_value",
      "allowed_fields"
    ],
    "_build_request": [
      "self",
      "method",
      "path",
      "base_url",
      "url_variables",
      "request",
      "request_body_required",
      "request_has_path_params",
      "request_has_query_params",
      "user_agent_header",
      "accept_header_value",
      "_globals",
      "security",
      "timeout_ms",
      "get_serialized_body",
      "url_override",
      "http_headers",
      "allow_empty_value",
      "allowed_fields"
    ],
    "_build_request_with_client": [
      "self",
      "client",
      "method",
      "path",
      "base_url",
      "url_variables",
      "request",
      "request_body_required",
      "request_has_path_params",
      "request_has_query_params",
      "user_agent_header",
      "accept_header_value",
      "_globals",
      "security",
      "timeout_ms",
      "get_serialized_body",
      "url_override",
      "http_headers",
      "allow_empty_value",
      "allowed_fields"
    ],
    "do_request": [
      "self",
      "hook_ctx",
      "request",
      "is_error_status_code",
      "stream",
      "retry_config"
    ],
    "do_request_async": [
      "self",
      "hook_ctx",
      "request",
      "is_error_status_code",
      "stream",
      "retry_config"
    ]
  },
  "OPENAPI_DOC_VERSION": [],
  "SPEAKEASY_GENERATOR_VERSION": [],
  "USER_AGENT": [],
  "Destinations": {
    "create_destination": [
      "self"
    ],
    "create_destination_async": [
      "self"
    ],
    "delete_destination": [
      "self"
    ],
    "delete_destination_async": [
      "self"
    ],
    "get_destination": [
      "self"
    ],
    "get_destination_async": [
      "self"
    ],
    "list_destinations": [
      "self"
    ],
    "list_destinations_async": [
      "self"
    ],
    "patch_destination": [
      "self"
    ],
    "patch_destination_async": [
      "self"
    ],
    "put_destination": [
      "self"
    ],
    "put_destination_async": [
      "self"
    ]
  },
  "DeclarativeSourceDefinitions": {
    "create_declarative_source_definition": [
      "self"
    ],
    "create_declarative_source_definition_async": [
      "self"
    ],
    "delete_declarative_source_definition": [
      "self"
    ],
    "delete_declarative_source_definition_async": [
      "self"
    ],
    "get_declarative_source_definition": [
      "self"
    ],
    "get_declarative_source_definition_async": [
      "self"
    ],
    "list_declarative_source_definitions": [
      "self"
    ],
    "list_declarative_source_definitions_async": [
      "self"
    ],
    "update_declarative_source_definition": [
      "self"
    ],
    "update_declarative_source_definition_async": [
      "self"
    ]
  },
  "Users": {
    "list_users_within_an_organization": [
      "self"
    ],
    "list_users_within_an_organization_async": [
      "self"
    ]
  },
  "SERVERS": [],
  "SDKConfiguration": {
    "get_server_details": [
      "self"
    ]
  },
  "Connections": {
    "create_connection": [
      "self"
    ],
    "create_connection_async": [
      "self"
    ],
    "delete_connection": [
      "self"
    ],
    "delete_connection_async": [
      "self"
    ],
    "get_connection": [
      "self"
    ],
    "get_connection_async": [
      "self"
    ],
    "list_connections": [
      "self"
    ],
    "list_connections_async": [
      "self"
    ],
    "patch_connection": [
      "self"
    ],
    "patch_connection_async": [
      "self"
    ]
  },
  "Sources": {
    "create_source": [
      "self"
    ],
    "create_source_async": [
      "self"
    ],
    "delete_source": [
      "self"
    ],
    "delete_source_async": [
      "self"
    ],
    "get_source": [
      "self"
    ],
    "get_source_async": [
      "self"
    ],
    "initiate_o_auth": [
      "self"
    ],
    "initiate_o_auth_async": [
      "self"
    ],
    "list_sources": [
      "self"
    ],
    "list_sources_async": [
      "self"
    ],
    "patch_source": [
      "self"
    ],
    "patch_source_async": [
      "self"
    ],
    "put_source": [
      "self"
    ],
    "put_source_async": [
      "self"
    ]
  },
  "Organizations": {
    "create_or_update_organization_o_auth_credentials": [
      "self"
    ],
    "create_or_update_organization_o_auth_credentials_async": [
      "self"
    ],
    "delete_organization_o_auth_credentials": [
      "self"
    ],
    "delete_organization_o_auth_credentials_async": [
      "self"
    ],
    "list_organizations_for_user": [
      "self"
    ],
    "list_organizations_for_user_async": [
      "self"
    ]
  },
  "Permissions": {
    "create_permission": [
      "self"
    ],
    "create_permission_async": [
      "self"
    ],
    "delete_permission": [
      "self"
    ],
    "delete_permission_async": [
      "self"
    ],
    "get_permission": [
      "self"
    ],
    "get_permission_async": [
      "self"
    ],
    "list_permissions": [
      "self"
    ],
    "list_permissions_async": [
      "self"
    ],
    "update_permission": [
      "self"
    ],
    "update_permission_async": [
      "self"
    ]
  },
  "Health": {
    "get_health_check": [
      "self"
    ],
    "get_health_check_async": [
      "self"
    ]
  },
  "HttpClient": {
    "send": [
      "self",
      "request"
    ],
    "build_request": [
      "self",
      "method",
      "url"
    ],
    "close": [
      "self"
    ]
  },
  "AsyncHttpClient": {
    "send": [
      "self",
      "request"
    ],
    "build_request": [
      "self",
      "method",
      "url"
    ],
    "aclose": [
      "self"
    ]
  },
  "ClientOwner": {},
  "close_clients": [
    "owner",
    "sync_client",
    "sync_client_supplied",
    "async_client",
    "async_client_supplied"
  ],
  "Jobs": {
    "cancel_job": [
      "self"
    ],
    "cancel_job_async": [
      "self"
    ],
    "create_job": [
      "self"
    ],
    "create_job_async": [
      "self"
    ],
    "get_job": [
      "self"
    ],
    "get_job_async": [
      "self"
    ],
    "list_jobs": [
      "self"
    ],
    "list_jobs_async": [
      "self"
    ]
  },
  "DestinationDefinitions": {
    "create_destination_definition": [
      "self"
    ],
    "create_destination_definition_async": [
      "self"
    ],
    "delete_destination_definition": [
      "self"
    ],
    "delete_destination_definition_async": [
      "self"
    ],
    "get_destination_definition": [
      "self"
    ],
    "get_destination_definition_async": [
      "self"
    ],
    "list_destination_definitions": [
      "self"
    ],
    "list_destination_definitions_async": [
      "self"
    ],
    "update_destination_definition": [
      "self"
    ],
    "update_destination_definition_async": [
      "self"
    ]
  },
  "AirbyteAPI": {
    "_sub_sdk_map": [],
    "__init__": [
      "self",
      "security",
      "server_idx",
      "url_params",
      "server_url",
      "client",
      "async_client",
      "retry_config",
      "timeout_ms",
      "debug_logger"
    ],
    "dynamic_import": [
      "self",
      "modname",
      "retries"
    ],
    "__getattr__": [
      "self",
      "name"
    ],
    "__dir__": [
      "self"
    ],
    "__enter__": [
      "self"
    ],
    "__aenter__": [
      "self"
    ],
    "__exit__": [
      "self",
      "exc_type",
      "exc_val",
      "exc_tb"
    ],
    "__aexit__": [
      "self",
      "exc_type",
      "exc_val",
      "exc_tb"
    ]
  },
  "Workspaces": {
    "create_or_update_workspace_o_auth_credentials": [
      "self"
    ],
    "create_or_update_workspace_o_auth_credentials_async": [
      "self"
    ],
    "create_workspace": [
      "self"
    ],
    "create_workspace_async": [
      "self"
    ],
    "delete_workspace": [
      "self"
    ],
    "delete_workspace_async": [
      "self"
    ],
    "delete_workspace_o_auth_credentials": [
      "self"
    ],
    "delete_workspace_o_auth_credentials_async": [
      "self"
    ],
    "get_workspace": [
      "self"
    ],
    "get_workspace_async": [
      "self"
    ],
    "list_workspaces": [
      "self"
    ],
    "list_workspaces_async": [
      "self"
    ],
    "update_workspace": [
      "self"
    ],
    "update_workspace_async": [
      "self"
    ]
  },
  "Tags": {
    "create_tag": [
      "self"
    ],
    "create_tag_async": [
      "self"
    ],
    "delete_tag": [
      "self"
    ],
    "delete_tag_async": [
      "self"
    ],
    "get_tag": [
      "self"
    ],
    "get_tag_async": [
      "self"
    ],
    "list_tags": [
      "self"
    ],
    "list_tags_async": [
      "self"
    ],
    "update_tag": [
      "self"
    ],
    "update_tag_async": [
      "self"
    ]
  },
  "Streams": {
    "get_stream_properties": [
      "self"
    ],
    "get_stream_properties_async": [
      "self"
    ]
  },
  "match_content_type": [
    "content_type",
    "pattern"
  ],
  "match_status_codes": [
    "status_codes",
    "status_code"
  ],
  "T": [],
  "cast_partial": [
    "typ"
  ],
  "get_global_from_env": [
    "value",
    "env_key",
    "type_cast"
  ],
  "match_response": [
    "response",
    "code",
    "content_type"
  ],
  "_populate_from_globals": [
    "param_name",
    "value",
    "param_metadata_type",
    "gbls"
  ],
  "_val_to_string": [
    "val"
  ],
  "_get_serialized_params": [
    "metadata",
    "field_name",
    "obj",
    "typ"
  ],
  "_is_set": [
    "value"
  ],
  "_populate_form": [
    "field_name",
    "explode",
    "obj",
    "delimiter",
    "form"
  ],
  "_extract_file_properties": [
    "file_obj"
  ],
  "serialize_multipart_form": [
    "media_type",
    "request"
  ],
  "serialize_form_data": [
    "data"
  ],
  "generate_url": [
    "server_url",
    "path",
    "path_params",
    "gbls"
  ],
  "_populate_path_params": [
    "path_params",
    "gbls",
    "path_param_values",
    "skip_fields"
  ],
  "is_optional": [
    "field"
  ],
  "template_url": [
    "url_with_params",
    "params"
  ],
  "remove_suffix": [
    "input_string",
    "suffix"
  ],
  "_T": [],
  "run_sync_in_thread": [
    "func"
  ],
  "__all__": [],
  "__getattr__": [
    "attr_name"
  ],
  "__dir__": [],
  "BackoffStrategy": {
    "__init__": [
      "self",
      "initial_interval",
      "max_interval",
      "exponent",
      "max_elapsed_time",
      "jitter_ms"
    ]
  },
  "RetryConfig": {
    "__init__": [
      "self",
      "strategy",
      "backoff",
      "retry_connection_errors",
      "status_codes_override"
    ]
  },
  "Retries": {
    "__init__": [
      "self",
      "config",
      "status_codes"
    ]
  },
  "TemporaryError": {
    "__init__": [
      "self",
      "response"
    ]
  },
  "PermanentError": {
    "__init__": [
      "self",
      "inner"
    ]
  },
  "_parse_retry_after_header": [
    "response"
  ],
  "_parse_retry_after_ms_header": [
    "response"
  ],
  "_get_sleep_interval": [
    "exception",
    "initial_interval",
    "max_interval",
    "exponent",
    "retries",
    "jitter_ms"
  ],
  "retry": [
    "func",
    "retries"
  ],
  "retry_async": [
    "func",
    "retries"
  ],
  "retry_with_backoff": [
    "func",
    "initial_interval",
    "max_interval",
    "exponent",
    "max_elapsed_time",
    "jitter_ms"
  ],
  "retry_with_backoff_async": [
    "func",
    "initial_interval",
    "max_interval",
    "exponent",
    "max_elapsed_time",
    "jitter_ms"
  ],
  "get_query_params": [
    "query_params",
    "gbls",
    "allow_empty_value"
  ],
  "_populate_query_params": [
    "query_params",
    "gbls",
    "query_param_values",
    "skip_fields",
    "allow_empty_value"
  ],
  "_populate_deep_object_query_params": [
    "field_name",
    "obj",
    "params"
  ],
  "_populate_deep_object_query_params_basemodel": [
    "prior_params_key",
    "obj",
    "params"
  ],
  "_populate_deep_object_query_params_dict": [
    "prior_params_key",
    "value",
    "params"
  ],
  "_populate_deep_object_query_params_list": [
    "params_key",
    "value",
    "params"
  ],
  "_populate_delimited_query_params": [
    "metadata",
    "field_name",
    "obj",
    "delimiter",
    "query_param_values"
  ],
  "OpenEnumMeta": {
    "__new__": [
      "mcs",
      "name",
      "bases",
      "namespace"
    ]
  },
  "get_security": [
    "security",
    "allowed_fields"
  ],
  "_parse_security_option": [
    "headers",
    "query_params",
    "option"
  ],
  "_parse_security_scheme": [
    "headers",
    "query_params",
    "scheme_metadata",
    "field_name",
    "scheme"
  ],
  "_parse_security_scheme_value": [
    "headers",
    "query_params",
    "scheme_metadata",
    "security_metadata",
    "field_name",
    "value"
  ],
  "_apply_bearer": [
    "token"
  ],
  "_parse_basic_auth_scheme": [
    "headers",
    "scheme"
  ],
  "SERIALIZATION_METHOD_TO_CONTENT_TYPE": [],
  "SerializedRequestBody": {},
  "serialize_request_body": [
    "request_body",
    "nullable",
    "optional",
    "serialization_method",
    "request_body_type"
  ],
  "parse_datetime": [
    "datetime_string"
  ],
  "get_discriminator": [
    "model",
    "fieldname",
    "key"
  ],
  "Logger": {
    "debug": [
      "self",
      "msg"
    ]
  },
  "NoOpLogger": {
    "debug": [
      "self",
      "msg"
    ]
  },
  "get_body_content": [
    "req"
  ],
  "get_default_logger": [],
  "SecurityMetadata": {
    "get_field_name": [
      "self",
      "default"
    ]
  },
  "ParamMetadata": {},
  "PathParamMetadata": {},
  "QueryParamMetadata": {},
  "HeaderMetadata": {},
  "RequestMetadata": {},
  "MultipartFormMetadata": {},
  "FormMetadata": {},
  "FieldMetadata": {
    "__init__": [
      "self",
      "security",
      "path",
      "query",
      "header",
      "request",
      "form",
      "multipart"
    ]
  },
  "find_field_metadata": [
    "field_info",
    "metadata_type"
  ],
  "find_metadata": [
    "field_info",
    "metadata_type"
  ],
  "unmarshal_json_response": [
    "typ",
    "http_res",
    "body"
  ],
  "serialize_decimal": [
    "as_str"
  ],
  "validate_decimal": [
    "d"
  ],
  "serialize_float": [
    "as_str"
  ],
  "validate_float": [
    "f"
  ],
  "serialize_int": [
    "as_str"
  ],
  "validate_int": [
    "b"
  ],
  "validate_const": [
    "v"
  ],
  "unmarshal_json": [
    "raw",
    "typ"
  ],
  "unmarshal": [
    "val",
    "typ",
    "coerce_iterables"
  ],
  "marshal_json": [
    "val",
    "typ"
  ],
  "is_nullable": [
    "field"
  ],
  "is_union": [
    "obj"
  ],
  "stream_to_text": [
    "stream"
  ],
  "stream_to_text_async": [
    "stream"
  ],
  "stream_to_bytes": [
    "stream"
  ],
  "stream_to_bytes_async": [
    "stream"
  ],
  "get_pydantic_model": [
    "data",
    "typ"
  ],
  "_coerce_iterables_for_type": [
    "data",
    "typ"
  ],
  "_resolve_type_alias": [
    "typ"
  ],
  "_is_annotated_type": [
    "origin"
  ],
  "_is_list_type": [
    "typ"
  ],
  "_is_mapping_type": [
    "typ"
  ],
  "_is_pydantic_model_type": [
    "typ"
  ],
  "_contains_pydantic_model": [
    "data"
  ],
  "_get_typing_objects_by_name_of": [
    "name"
  ],
  "get_headers": [
    "headers_params",
    "gbls"
  ],
  "_populate_headers": [
    "headers_params",
    "gbls",
    "header_values",
    "skip_fields"
  ],
  "_serialize_header": [
    "explode",
    "obj"
  ],
  "get_response_headers": [
    "headers"
  ],
  "EventStream": {
    "__init__": [
      "self",
      "response",
      "decoder",
      "sentinel",
      "client_ref",
      "data_required"
    ],
    "__iter__": [
      "self"
    ],
    "__next__": [
      "self"
    ],
    "__enter__": [
      "self"
    ],
    "__exit__": [
      "self",
      "exc_type",
      "exc_val",
      "exc_tb"
    ],
    "close": [
      "self"
    ]
  },
  "EventStreamAsync": {
    "__init__": [
      "self",
      "response",
      "decoder",
      "sentinel",
      "client_ref",
      "data_required"
    ],
    "__aiter__": [
      "self"
    ],
    "__anext__": [
      "self"
    ],
    "__aenter__": [
      "self"
    ],
    "__aexit__": [
      "self",
      "exc_type",
      "exc_val",
      "exc_tb"
    ],
    "close": [
      "self"
    ]
  },
  "ServerEvent": {},
  "MESSAGE_BOUNDARIES": [],
  "MAX_BOUNDARY_LEN": [],
  "UTF8_BOM": [],
  "stream_events_async": [
    "response",
    "decoder",
    "sentinel",
    "data_required"
  ],
  "stream_events": [
    "response",
    "decoder",
    "sentinel",
    "data_required"
  ],
  "_parse_event": [],
  "_peek_sequence": [
    "position",
    "buffer",
    "sequence"
  ],
  "dynamic_import": [
    "package",
    "modname",
    "retries"
  ],
  "lazy_getattr": [
    "attr_name"
  ],
  "lazy_dir": [],
  "ResponseValidationError": {
    "__init__": [
      "self",
      "message",
      "raw_response",
      "cause",
      "body"
    ],
    "cause": [
      "self"
    ]
  },
  "MAX_MESSAGE_LEN": [],
  "SDKError": {
    "__init__": [
      "self",
      "message",
      "raw_response",
      "body"
    ]
  },
  "AirbyteAPIError": {
    "__init__": [
      "self",
      "message",
      "raw_response",
      "body"
    ],
    "__str__": [
      "self"
    ]
  },
  "NoResponseError": {
    "__init__": [
      "self",
      "message"
    ],
    "__str__": [
      "self"
    ]
  },
  "SDKHooks": {
    "__init__": [
      "self"
    ],
    "register_sdk_init_hook": [
      "self",
      "hook"
    ],
    "register_before_request_hook": [
      "self",
      "hook"
    ],
    "register_after_success_hook": [
      "self",
      "hook"
    ],
    "register_after_error_hook": [
      "self",
      "hook"
    ],
    "sdk_init": [
      "self",
      "base_url",
      "client"
    ],
    "before_request": [
      "self",
      "hook_ctx",
      "request"
    ],
    "after_success": [
      "self",
      "hook_ctx",
      "response"
    ],
    "after_error": [
      "self",
      "hook_ctx",
      "response",
      "error"
    ]
  },
  "Credentials": {
    "__init__": [
      "self",
      "client_id",
      "client_secret",
      "token_url",
      "scopes",
      "additional_properties"
    ]
  },
  "Session": {
    "__init__": [
      "self",
      "credentials",
      "token",
      "scopes",
      "expires_at"
    ]
  },
  "ClientCredentialsHook": {
    "_get_client_lock": [
      "cls",
      "client_key"
    ],
    "sdk_init": [
      "self",
      "base_url",
      "client"
    ],
    "before_request": [
      "self",
      "hook_ctx",
      "request"
    ],
    "after_error": [
      "self",
      "hook_ctx",
      "response",
      "error"
    ],
    "is_hook_disabled": [
      "self",
      "hook_ctx"
    ],
    "get_credentials": [
      "self",
      "hook_ctx"
    ],
    "get_credentials_global": [
      "self",
      "security"
    ],
    "do_token_request": [
      "self",
      "hook_ctx",
      "credentials",
      "scopes"
    ],
    "get_session_key": [
      "self",
      "client_id",
      "client_secret"
    ],
    "get_required_scopes": [
      "self",
      "credentials",
      "hook_ctx"
    ],
    "get_scope_key": [
      "self",
      "scopes"
    ],
    "_store_session": [
      "self",
      "client_key",
      "scopes",
      "session"
    ],
    "remove_session": [
      "self",
      "client_key",
      "scope_key"
    ],
    "get_existing_session": [
      "self",
      "client_key",
      "required_scopes"
    ],
    "has_required_scopes": [
      "self",
      "scopes",
      "required_scopes"
    ],
    "has_token_expired": [
      "self",
      "expires_at"
    ]
  },
  "init_hooks": [
    "hooks"
  ],
  "HookContext": {
    "__init__": [
      "self",
      "config",
      "base_url",
      "operation_id",
      "oauth2_scopes",
      "security_source"
    ]
  },
  "BeforeRequestContext": {
    "__init__": [
      "self",
      "hook_ctx"
    ]
  },
  "AfterSuccessContext": {
    "__init__": [
      "self",
      "hook_ctx"
    ]
  },
  "AfterErrorContext": {
    "__init__": [
      "self",
      "hook_ctx"
    ]
  },
  "SDKInitHook": {
    "sdk_init": [
      "self",
      "base_url",
      "client"
    ]
  },
  "BeforeRequestHook": {
    "before_request": [
      "self",
      "hook_ctx",
      "request"
    ]
  },
  "AfterSuccessHook": {
    "after_success": [
      "self",
      "hook_ctx",
      "response"
    ]
  },
  "AfterErrorHook": {
    "after_error": [
      "self",
      "hook_ctx",
      "response",
      "error"
    ]
  },
  "Hooks": {
    "register_sdk_init_hook": [
      "self",
      "hook"
    ],
    "register_before_request_hook": [
      "self",
      "hook"
    ],
    "register_after_success_hook": [
      "self",
      "hook"
    ],
    "register_after_error_hook": [
      "self",
      "hook"
    ]
  },
  "GetTagRequestTypedDict": {},
  "GetTagRequest": {},
  "GetTagResponseTypedDict": {},
  "GetTagResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListDeclarativeSourceDefinitionsRequestTypedDict": {},
  "ListDeclarativeSourceDefinitionsRequest": {},
  "ListDeclarativeSourceDefinitionsResponseTypedDict": {},
  "ListDeclarativeSourceDefinitionsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DeleteDestinationRequestTypedDict": {},
  "DeleteDestinationRequest": {},
  "DeleteDestinationResponseTypedDict": {},
  "DeleteDestinationResponse": {},
  "CreateSourceDefinitionRequestTypedDict": {},
  "CreateSourceDefinitionRequest": {},
  "CreateSourceDefinitionResponseTypedDict": {},
  "CreateSourceDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DeleteDeclarativeSourceDefinitionRequestTypedDict": {},
  "DeleteDeclarativeSourceDefinitionRequest": {},
  "DeleteDeclarativeSourceDefinitionResponseTypedDict": {},
  "DeleteDeclarativeSourceDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateWorkspaceResponseTypedDict": {},
  "CreateWorkspaceResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListPermissionsRequestTypedDict": {},
  "ListPermissionsRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListPermissionsResponseTypedDict": {},
  "ListPermissionsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PatchSourceRequestTypedDict": {},
  "PatchSourceRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PatchSourceResponseTypedDict": {},
  "PatchSourceResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetConnectionRequestTypedDict": {},
  "GetConnectionRequest": {},
  "GetConnectionResponseTypedDict": {},
  "GetConnectionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetDeclarativeSourceDefinitionRequestTypedDict": {},
  "GetDeclarativeSourceDefinitionRequest": {},
  "GetDeclarativeSourceDefinitionResponseTypedDict": {},
  "GetDeclarativeSourceDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DeleteOrganizationOAuthCredentialsRequestTypedDict": {},
  "DeleteOrganizationOAuthCredentialsRequest": {},
  "DeleteOrganizationOAuthCredentialsResponseTypedDict": {},
  "DeleteOrganizationOAuthCredentialsResponse": {},
  "CreatePermissionResponseTypedDict": {},
  "CreatePermissionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "InitiateOAuthResponseTypedDict": {},
  "InitiateOAuthResponse": {},
  "ListOrganizationsForUserResponseTypedDict": {},
  "ListOrganizationsForUserResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListWorkspacesRequestTypedDict": {},
  "ListWorkspacesRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListWorkspacesResponseTypedDict": {},
  "ListWorkspacesResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListSourcesRequestTypedDict": {},
  "ListSourcesRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListSourcesResponseTypedDict": {},
  "ListSourcesResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PatchConnectionRequestTypedDict": {},
  "PatchConnectionRequest": {},
  "PatchConnectionResponseTypedDict": {},
  "PatchConnectionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListUsersWithinAnOrganizationRequestTypedDict": {},
  "ListUsersWithinAnOrganizationRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListUsersWithinAnOrganizationResponseTypedDict": {},
  "ListUsersWithinAnOrganizationResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateDestinationResponseTypedDict": {},
  "CreateDestinationResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetPermissionRequestTypedDict": {},
  "GetPermissionRequest": {},
  "GetPermissionResponseTypedDict": {},
  "GetPermissionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateOrUpdateOrganizationOAuthCredentialsRequestTypedDict": {},
  "CreateOrUpdateOrganizationOAuthCredentialsRequest": {},
  "CreateOrUpdateOrganizationOAuthCredentialsResponseTypedDict": {},
  "CreateOrUpdateOrganizationOAuthCredentialsResponse": {},
  "DeleteConnectionRequestTypedDict": {},
  "DeleteConnectionRequest": {},
  "DeleteConnectionResponseTypedDict": {},
  "DeleteConnectionResponse": {},
  "GetSourceDefinitionRequestTypedDict": {},
  "GetSourceDefinitionRequest": {},
  "GetSourceDefinitionResponseTypedDict": {},
  "GetSourceDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateSourceResponseTypedDict": {},
  "CreateSourceResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetSourceRequestTypedDict": {},
  "GetSourceRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetSourceResponseTypedDict": {},
  "GetSourceResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PutDestinationRequestTypedDict": {},
  "PutDestinationRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PutDestinationResponseTypedDict": {},
  "PutDestinationResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DeleteDestinationDefinitionRequestTypedDict": {},
  "DeleteDestinationDefinitionRequest": {},
  "DeleteDestinationDefinitionResponseTypedDict": {},
  "DeleteDestinationDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetDestinationRequestTypedDict": {},
  "GetDestinationRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetDestinationResponseTypedDict": {},
  "GetDestinationResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetDestinationDefinitionRequestTypedDict": {},
  "GetDestinationDefinitionRequest": {},
  "GetDestinationDefinitionResponseTypedDict": {},
  "GetDestinationDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateDeclarativeSourceDefinitionRequestTypedDict": {},
  "CreateDeclarativeSourceDefinitionRequest": {},
  "CreateDeclarativeSourceDefinitionResponseTypedDict": {},
  "CreateDeclarativeSourceDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "UpdateDeclarativeSourceDefinitionRequestTypedDict": {},
  "UpdateDeclarativeSourceDefinitionRequest": {},
  "UpdateDeclarativeSourceDefinitionResponseTypedDict": {},
  "UpdateDeclarativeSourceDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CancelJobRequestTypedDict": {},
  "CancelJobRequest": {},
  "CancelJobResponseTypedDict": {},
  "CancelJobResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "UpdateDestinationDefinitionRequestTypedDict": {},
  "UpdateDestinationDefinitionRequest": {},
  "UpdateDestinationDefinitionResponseTypedDict": {},
  "UpdateDestinationDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListSourceDefinitionsRequestTypedDict": {},
  "ListSourceDefinitionsRequest": {},
  "ListSourceDefinitionsResponseTypedDict": {},
  "ListSourceDefinitionsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "UpdateTagRequestTypedDict": {},
  "UpdateTagRequest": {},
  "UpdateTagResponseTypedDict": {},
  "UpdateTagResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateDestinationDefinitionRequestTypedDict": {},
  "CreateDestinationDefinitionRequest": {},
  "CreateDestinationDefinitionResponseTypedDict": {},
  "CreateDestinationDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateTagResponseTypedDict": {},
  "CreateTagResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetStreamPropertiesRequestTypedDict": {},
  "GetStreamPropertiesRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetStreamPropertiesResponseTypedDict": {},
  "GetStreamPropertiesResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateJobResponseTypedDict": {},
  "CreateJobResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateConnectionResponseTypedDict": {},
  "CreateConnectionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DeleteWorkspaceRequestTypedDict": {},
  "DeleteWorkspaceRequest": {},
  "DeleteWorkspaceResponseTypedDict": {},
  "DeleteWorkspaceResponse": {},
  "DeletePermissionRequestTypedDict": {},
  "DeletePermissionRequest": {},
  "DeletePermissionResponseTypedDict": {},
  "DeletePermissionResponse": {},
  "ListJobsRequestTypedDict": {},
  "ListJobsRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListJobsResponseTypedDict": {},
  "ListJobsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListConnectionsRequestTypedDict": {},
  "ListConnectionsRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListConnectionsResponseTypedDict": {},
  "ListConnectionsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetJobRequestTypedDict": {},
  "GetJobRequest": {},
  "GetJobResponseTypedDict": {},
  "GetJobResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DeleteSourceDefinitionRequestTypedDict": {},
  "DeleteSourceDefinitionRequest": {},
  "DeleteSourceDefinitionResponseTypedDict": {},
  "DeleteSourceDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PatchDestinationRequestTypedDict": {},
  "PatchDestinationRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PatchDestinationResponseTypedDict": {},
  "PatchDestinationResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListDestinationsRequestTypedDict": {},
  "ListDestinationsRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListDestinationsResponseTypedDict": {},
  "ListDestinationsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PutSourceRequestTypedDict": {},
  "PutSourceRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PutSourceResponseTypedDict": {},
  "PutSourceResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CreateOrUpdateWorkspaceOAuthCredentialsRequestTypedDict": {},
  "CreateOrUpdateWorkspaceOAuthCredentialsRequest": {},
  "CreateOrUpdateWorkspaceOAuthCredentialsResponseTypedDict": {},
  "CreateOrUpdateWorkspaceOAuthCredentialsResponse": {},
  "DeleteTagRequestTypedDict": {},
  "DeleteTagRequest": {},
  "DeleteTagResponseTypedDict": {},
  "DeleteTagResponse": {},
  "UpdateWorkspaceRequestTypedDict": {},
  "UpdateWorkspaceRequest": {},
  "UpdateWorkspaceResponseTypedDict": {},
  "UpdateWorkspaceResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListTagsRequestTypedDict": {},
  "ListTagsRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ListTagsResponseTypedDict": {},
  "ListTagsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "UpdateSourceDefinitionRequestTypedDict": {},
  "UpdateSourceDefinitionRequest": {},
  "UpdateSourceDefinitionResponseTypedDict": {},
  "UpdateSourceDefinitionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GetHealthCheckResponseTypedDict": {},
  "GetHealthCheckResponse": {},
  "GetWorkspaceRequestTypedDict": {},
  "GetWorkspaceRequest": {},
  "GetWorkspaceResponseTypedDict": {},
  "GetWorkspaceResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "UpdatePermissionRequestTypedDict": {},
  "UpdatePermissionRequest": {},
  "UpdatePermissionResponseTypedDict": {},
  "UpdatePermissionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DeleteWorkspaceOAuthCredentialsRequestTypedDict": {},
  "DeleteWorkspaceOAuthCredentialsRequest": {},
  "DeleteWorkspaceOAuthCredentialsResponseTypedDict": {},
  "DeleteWorkspaceOAuthCredentialsResponse": {},
  "DeleteSourceRequestTypedDict": {},
  "DeleteSourceRequest": {},
  "DeleteSourceResponseTypedDict": {},
  "DeleteSourceResponse": {},
  "ListDestinationDefinitionsRequestTypedDict": {},
  "ListDestinationDefinitionsRequest": {},
  "ListDestinationDefinitionsResponseTypedDict": {},
  "ListDestinationDefinitionsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Unleash": {
    "UNLEASH": []
  },
  "SourceUnleashTypedDict": {},
  "SourceUnleash": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GoogleAnalyticsDataAPICredentialsTypedDict": {},
  "GoogleAnalyticsDataAPICredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GoogleAnalyticsDataAPITypedDict": {},
  "GoogleAnalyticsDataAPI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DriftCredentialsTypedDict": {},
  "DriftCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DriftTypedDict": {},
  "Drift": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "YouNeedABudgetYnab": {
    "YOU_NEED_A_BUDGET_YNAB": []
  },
  "SourceYouNeedABudgetYnabTypedDict": {},
  "SourceYouNeedABudgetYnab": {},
  "Uptick": {
    "UPTICK": []
  },
  "SourceUptickTypedDict": {},
  "SourceUptick": {},
  "DestinationMssqlMssql": {
    "MSSQL": []
  },
  "DestinationMssqlLoadTypeBulk": {
    "BULK": []
  },
  "DestinationMssqlBulkLoadTypedDict": {},
  "DestinationMssqlBulkLoad": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMssqlLoadTypeInsert": {
    "INSERT": []
  },
  "DestinationMssqlInsertLoadTypedDict": {},
  "DestinationMssqlInsertLoad": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMssqlLoadTypeUnionTypedDict": [],
  "DestinationMssqlLoadTypeUnion": [],
  "DestinationMssqlNameEncryptedVerifyCertificate": {
    "ENCRYPTED_VERIFY_CERTIFICATE": []
  },
  "DestinationMssqlEncryptedVerifyCertificateTypedDict": {},
  "DestinationMssqlEncryptedVerifyCertificate": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMssqlNameEncryptedTrustServerCertificate": {
    "ENCRYPTED_TRUST_SERVER_CERTIFICATE": []
  },
  "DestinationMssqlEncryptedTrustServerCertificateTypedDict": {},
  "DestinationMssqlEncryptedTrustServerCertificate": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMssqlNameUnencrypted": {
    "UNENCRYPTED": []
  },
  "DestinationMssqlUnencryptedTypedDict": {},
  "DestinationMssqlUnencrypted": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMssqlSSLMethodTypedDict": [],
  "DestinationMssqlSSLMethod": [],
  "DestinationMssqlTunnelMethodSSHPasswordAuth": {
    "SSH_PASSWORD_AUTH": []
  },
  "DestinationMssqlPasswordAuthenticationTypedDict": {},
  "DestinationMssqlPasswordAuthentication": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMssqlTunnelMethodSSHKeyAuth": {
    "SSH_KEY_AUTH": []
  },
  "DestinationMssqlSSHKeyAuthenticationTypedDict": {},
  "DestinationMssqlSSHKeyAuthentication": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMssqlTunnelMethodNoTunnel": {
    "NO_TUNNEL": []
  },
  "DestinationMssqlNoTunnelTypedDict": {},
  "DestinationMssqlNoTunnel": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMssqlSSHTunnelMethodTypedDict": [],
  "DestinationMssqlSSHTunnelMethod": [],
  "DestinationMssqlTypedDict": {},
  "DestinationMssql": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Katana": {
    "KATANA": []
  },
  "SourceKatanaTypedDict": {},
  "SourceKatana": {},
  "Salesflare": {
    "SALESFLARE": []
  },
  "SourceSalesflareTypedDict": {},
  "SourceSalesflare": {},
  "GoogleForms": {
    "GOOGLE_FORMS": []
  },
  "SourceGoogleFormsTypedDict": {},
  "SourceGoogleForms": {},
  "SchemeClientCredentialsTypedDict": {},
  "SchemeClientCredentials": {},
  "Astra": {
    "ASTRA": []
  },
  "DestinationAstraModeOpenaiCompatible": {
    "OPENAI_COMPATIBLE": []
  },
  "DestinationAstraOpenAICompatibleTypedDict": {},
  "DestinationAstraOpenAICompatible": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraModeAzureOpenai": {
    "AZURE_OPENAI": []
  },
  "DestinationAstraAzureOpenAITypedDict": {},
  "DestinationAstraAzureOpenAI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraModeFake": {
    "FAKE": []
  },
  "DestinationAstraFakeTypedDict": {},
  "DestinationAstraFake": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraModeCohere": {
    "COHERE": []
  },
  "DestinationAstraCohereTypedDict": {},
  "DestinationAstraCohere": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraModeOpenai": {
    "OPENAI": []
  },
  "DestinationAstraOpenAITypedDict": {},
  "DestinationAstraOpenAI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraEmbeddingTypedDict": [],
  "DestinationAstraEmbedding": [],
  "DestinationAstraIndexingTypedDict": {},
  "DestinationAstraIndexing": {},
  "DestinationAstraFieldNameMappingConfigModelTypedDict": {},
  "DestinationAstraFieldNameMappingConfigModel": {},
  "DestinationAstraLanguage": {
    "CPP": [],
    "GO": [],
    "JAVA": [],
    "JS": [],
    "PHP": [],
    "PROTO": [],
    "PYTHON": [],
    "RST": [],
    "RUBY": [],
    "RUST": [],
    "SCALA": [],
    "SWIFT": [],
    "MARKDOWN": [],
    "LATEX": [],
    "HTML": [],
    "SOL": []
  },
  "DestinationAstraModeCode": {
    "CODE": []
  },
  "DestinationAstraByProgrammingLanguageTypedDict": {},
  "DestinationAstraByProgrammingLanguage": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraModeMarkdown": {
    "MARKDOWN": []
  },
  "DestinationAstraByMarkdownHeaderTypedDict": {},
  "DestinationAstraByMarkdownHeader": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraModeSeparator": {
    "SEPARATOR": []
  },
  "DestinationAstraBySeparatorTypedDict": {},
  "DestinationAstraBySeparator": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraTextSplitterTypedDict": [],
  "DestinationAstraTextSplitter": [],
  "DestinationAstraProcessingConfigModelTypedDict": {},
  "DestinationAstraProcessingConfigModel": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationAstraTypedDict": {},
  "DestinationAstra": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Intruder": {
    "INTRUDER": []
  },
  "SourceIntruderTypedDict": {},
  "SourceIntruder": {},
  "Woocommerce": {
    "WOOCOMMERCE": []
  },
  "SourceWoocommerceTypedDict": {},
  "SourceWoocommerce": {},
  "Todoist": {
    "TODOIST": []
  },
  "SourceTodoistTypedDict": {},
  "SourceTodoist": {},
  "Marketo": {
    "MARKETO": []
  },
  "SourceMarketoTypedDict": {},
  "SourceMarketo": {},
  "ThinkificCourses": {
    "THINKIFIC_COURSES": []
  },
  "SourceThinkificCoursesTypedDict": {},
  "SourceThinkificCourses": {},
  "DestinationConvexConvex": {
    "CONVEX": []
  },
  "DestinationConvexTypedDict": {},
  "DestinationConvex": {},
  "StreamConfigurationsTypedDict": {},
  "StreamConfigurations": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SpacexAPI": {
    "SPACEX_API": []
  },
  "SourceSpacexAPITypedDict": {},
  "SourceSpacexAPI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "InstagramTypedDict": {},
  "Instagram": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceAlphaVantageInterval": {
    "ONEMIN": [],
    "FIVEMIN": [],
    "FIFTEENMIN": [],
    "THIRTYMIN": [],
    "SIXTYMIN": []
  },
  "OutputSize": {
    "COMPACT": [],
    "FULL": []
  },
  "AlphaVantage": {
    "ALPHA_VANTAGE": []
  },
  "SourceAlphaVantageTypedDict": {},
  "SourceAlphaVantage": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Eventee": {
    "EVENTEE": []
  },
  "SourceEventeeTypedDict": {},
  "SourceEventee": {},
  "GcsCredentialsTypedDict": {},
  "GcsCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GcsTypedDict": {},
  "Gcs": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "EncryptionMapperConfigurationTypedDict": [],
  "EncryptionMapperConfiguration": [],
  "Qdrant": {
    "QDRANT": []
  },
  "DestinationQdrantModeOpenaiCompatible": {
    "OPENAI_COMPATIBLE": []
  },
  "DestinationQdrantOpenAICompatibleTypedDict": {},
  "DestinationQdrantOpenAICompatible": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantModeAzureOpenai": {
    "AZURE_OPENAI": []
  },
  "DestinationQdrantAzureOpenAITypedDict": {},
  "DestinationQdrantAzureOpenAI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantModeFake": {
    "FAKE": []
  },
  "DestinationQdrantFakeTypedDict": {},
  "DestinationQdrantFake": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantModeCohere": {
    "COHERE": []
  },
  "DestinationQdrantCohereTypedDict": {},
  "DestinationQdrantCohere": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantModeOpenai": {
    "OPENAI": []
  },
  "DestinationQdrantOpenAITypedDict": {},
  "DestinationQdrantOpenAI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantEmbeddingTypedDict": [],
  "DestinationQdrantEmbedding": [],
  "AuthenticationMethodModeNoAuth": {
    "NO_AUTH": []
  },
  "DestinationQdrantNoAuthTypedDict": {},
  "DestinationQdrantNoAuth": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ModeAPIKeyAuth": {
    "API_KEY_AUTH": []
  },
  "APIKeyAuthTypedDict": {},
  "APIKeyAuth": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantAuthenticationMethodTypedDict": [],
  "DestinationQdrantAuthenticationMethod": [],
  "DistanceMetric": {
    "DOT": [],
    "COS": [],
    "EUC": []
  },
  "DestinationQdrantIndexingTypedDict": {},
  "DestinationQdrantIndexing": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantFieldNameMappingConfigModelTypedDict": {},
  "DestinationQdrantFieldNameMappingConfigModel": {},
  "DestinationQdrantLanguage": {
    "CPP": [],
    "GO": [],
    "JAVA": [],
    "JS": [],
    "PHP": [],
    "PROTO": [],
    "PYTHON": [],
    "RST": [],
    "RUBY": [],
    "RUST": [],
    "SCALA": [],
    "SWIFT": [],
    "MARKDOWN": [],
    "LATEX": [],
    "HTML": [],
    "SOL": []
  },
  "DestinationQdrantModeCode": {
    "CODE": []
  },
  "DestinationQdrantByProgrammingLanguageTypedDict": {},
  "DestinationQdrantByProgrammingLanguage": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantModeMarkdown": {
    "MARKDOWN": []
  },
  "DestinationQdrantByMarkdownHeaderTypedDict": {},
  "DestinationQdrantByMarkdownHeader": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantModeSeparator": {
    "SEPARATOR": []
  },
  "DestinationQdrantBySeparatorTypedDict": {},
  "DestinationQdrantBySeparator": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantTextSplitterTypedDict": [],
  "DestinationQdrantTextSplitter": [],
  "DestinationQdrantProcessingConfigModelTypedDict": {},
  "DestinationQdrantProcessingConfigModel": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationQdrantTypedDict": {},
  "DestinationQdrant": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Dockerhub": {
    "DOCKERHUB": []
  },
  "SourceDockerhubTypedDict": {},
  "SourceDockerhub": {},
  "YoutubeAnalyticsCredentialsTypedDict": {},
  "YoutubeAnalyticsCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "YoutubeAnalyticsTypedDict": {},
  "YoutubeAnalytics": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "WikipediaPageviews": {
    "WIKIPEDIA_PAGEVIEWS": []
  },
  "SourceWikipediaPageviewsTypedDict": {},
  "SourceWikipediaPageviews": {},
  "DomainRegionCode": {
    "US": [],
    "EU": []
  },
  "Mailgun": {
    "MAILGUN": []
  },
  "SourceMailgunTypedDict": {},
  "SourceMailgun": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ScheduleTypeWithBasicEnum": {
    "MANUAL": [],
    "CRON": [],
    "BASIC": []
  },
  "Pardot": {
    "PARDOT": []
  },
  "SourcePardotTypedDict": {},
  "SourcePardot": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Mailersend": {
    "MAILERSEND": []
  },
  "SourceMailersendTypedDict": {},
  "SourceMailersend": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationDynamodbDynamodb": {
    "DYNAMODB": []
  },
  "DestinationDynamodbDynamoDBRegion": {
    "UNKNOWN": [],
    "AF_SOUTH_1": [],
    "AP_EAST_1": [],
    "AP_NORTHEAST_1": [],
    "AP_NORTHEAST_2": [],
    "AP_NORTHEAST_3": [],
    "AP_SOUTH_1": [],
    "AP_SOUTH_2": [],
    "AP_SOUTHEAST_1": [],
    "AP_SOUTHEAST_2": [],
    "AP_SOUTHEAST_3": [],
    "AP_SOUTHEAST_4": [],
    "CA_CENTRAL_1": [],
    "CA_WEST_1": [],
    "CN_NORTH_1": [],
    "CN_NORTHWEST_1": [],
    "EU_CENTRAL_1": [],
    "EU_CENTRAL_2": [],
    "EU_NORTH_1": [],
    "EU_SOUTH_1": [],
    "EU_SOUTH_2": [],
    "EU_WEST_1": [],
    "EU_WEST_2": [],
    "EU_WEST_3": [],
    "IL_CENTRAL_1": [],
    "ME_CENTRAL_1": [],
    "ME_SOUTH_1": [],
    "SA_EAST_1": [],
    "US_EAST_1": [],
    "US_EAST_2": [],
    "US_GOV_EAST_1": [],
    "US_GOV_WEST_1": [],
    "US_WEST_1": [],
    "US_WEST_2": []
  },
  "DestinationDynamodbTypedDict": {},
  "DestinationDynamodb": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Poplar": {
    "POPLAR": []
  },
  "SourcePoplarTypedDict": {},
  "SourcePoplar": {},
  "AdobeCommerceMagento": {
    "ADOBE_COMMERCE_MAGENTO": []
  },
  "SourceAdobeCommerceMagentoTypedDict": {},
  "SourceAdobeCommerceMagento": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Wufoo": {
    "WUFOO": []
  },
  "SourceWufooTypedDict": {},
  "SourceWufoo": {},
  "Sendowl": {
    "SENDOWL": []
  },
  "SourceSendowlTypedDict": {},
  "SourceSendowl": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ServiceDetail": {
    "ESCALATION_POLICIES": [],
    "TEAMS": [],
    "INTEGRATIONS": [],
    "AUTO_PAUSE_NOTIFICATIONS_PARAMETERS": []
  },
  "Pagerduty": {
    "PAGERDUTY": []
  },
  "SourcePagerdutyTypedDict": {},
  "SourcePagerduty": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Sharetribe": {
    "SHARETRIBE": []
  },
  "SourceSharetribeTypedDict": {},
  "SourceSharetribe": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Perigon": {
    "PERIGON": []
  },
  "SourcePerigonTypedDict": {},
  "SourcePerigon": {},
  "Invoiceninja": {
    "INVOICENINJA": []
  },
  "SourceInvoiceninjaTypedDict": {},
  "SourceInvoiceninja": {},
  "Squarespace": {
    "SQUARESPACE": []
  },
  "SourceSquarespaceTypedDict": {},
  "SourceSquarespace": {},
  "GroupBy": {
    "NETWORK": [],
    "PRODUCT": [],
    "COUNTRY": [],
    "DATE": []
  },
  "Appfigures": {
    "APPFIGURES": []
  },
  "SourceAppfiguresTypedDict": {},
  "SourceAppfigures": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Ubidots": {
    "UBIDOTS": []
  },
  "SourceUbidotsTypedDict": {},
  "SourceUbidots": {},
  "Paystack": {
    "PAYSTACK": []
  },
  "SourcePaystackTypedDict": {},
  "SourcePaystack": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Signnow": {
    "SIGNNOW": []
  },
  "SourceSignnowTypedDict": {},
  "SourceSignnow": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceTwelveDataInterval": {
    "ONEMIN": [],
    "FIVEMIN": [],
    "FIFTEENMIN": [],
    "THIRTYMIN": [],
    "FORTY_FIVEMIN": [],
    "ONEH": [],
    "TWOH": [],
    "FOURH": [],
    "ONEDAY": [],
    "ONEWEEK": [],
    "ONEMONTH": []
  },
  "TwelveData": {
    "TWELVE_DATA": []
  },
  "SourceTwelveDataTypedDict": {},
  "SourceTwelveData": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ConnectionCreateRequestTypedDict": {},
  "ConnectionCreateRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "BreezyHr": {
    "BREEZY_HR": []
  },
  "SourceBreezyHrTypedDict": {},
  "SourceBreezyHr": {},
  "Timeplus": {
    "TIMEPLUS": []
  },
  "DestinationTimeplusTypedDict": {},
  "DestinationTimeplus": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Shutterstock": {
    "SHUTTERSTOCK": []
  },
  "SourceShutterstockTypedDict": {},
  "SourceShutterstock": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Recruitee": {
    "RECRUITEE": []
  },
  "SourceRecruiteeTypedDict": {},
  "SourceRecruitee": {},
  "NonBreakingSchemaUpdatesBehaviorEnum": {
    "IGNORE": [],
    "DISABLE_CONNECTION": [],
    "PROPAGATE_COLUMNS": [],
    "PROPAGATE_FULLY": []
  },
  "Leadfeeder": {
    "LEADFEEDER": []
  },
  "SourceLeadfeederTypedDict": {},
  "SourceLeadfeeder": {},
  "StreamPropertiesTypedDict": {},
  "StreamProperties": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Sevenshifts": {
    "SEVENSHIFTS": []
  },
  "Source7shiftsTypedDict": {},
  "Source7shifts": {},
  "SourceKlarnaRegion": {
    "EU": [],
    "NA": [],
    "OC": []
  },
  "Klarna": {
    "KLARNA": []
  },
  "SourceKlarnaTypedDict": {},
  "SourceKlarna": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Gologin": {
    "GOLOGIN": []
  },
  "SourceGologinTypedDict": {},
  "SourceGologin": {},
  "OptionTitleAPITokenCredentials": {
    "API_TOKEN_CREDENTIALS": []
  },
  "SourceSlackAPITokenTypedDict": {},
  "SourceSlackAPIToken": {},
  "OptionTitleDefaultOAuth20Authorization": {
    "DEFAULT_O_AUTH2_0_AUTHORIZATION": []
  },
  "SignInViaSlackOAuthTypedDict": {},
  "SignInViaSlackOAuth": {},
  "SourceSlackAuthenticationMechanismTypedDict": [],
  "SourceSlackAuthenticationMechanism": [],
  "SlackEnum": {
    "SLACK": []
  },
  "SourceSlackTypedDict": {},
  "SourceSlack": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "LeverHiringCredentialsTypedDict": {},
  "LeverHiringCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "LeverHiringTypedDict": {},
  "LeverHiring": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ProductCatalog": {
    "ONE_DOT_0": [],
    "TWO_DOT_0": []
  },
  "Chargebee": {
    "CHARGEBEE": []
  },
  "SourceChargebeeTypedDict": {},
  "SourceChargebee": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DingConnect": {
    "DING_CONNECT": []
  },
  "SourceDingConnectTypedDict": {},
  "SourceDingConnect": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Freshchat": {
    "FRESHCHAT": []
  },
  "SourceFreshchatTypedDict": {},
  "SourceFreshchat": {},
  "Imagga": {
    "IMAGGA": []
  },
  "SourceImaggaTypedDict": {},
  "SourceImagga": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Rentcast": {
    "RENTCAST": []
  },
  "SourceRentcastTypedDict": {},
  "SourceRentcast": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GitlabCredentialsTypedDict": {},
  "GitlabCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GitlabTypedDict": {},
  "Gitlab": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourcePutRequestTypedDict": {},
  "SourcePutRequest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceModeMode": {
    "MODE": []
  },
  "SourceModeTypedDict": {},
  "SourceMode": {},
  "PublicPermissionType": {
    "ORGANIZATION_ADMIN": [],
    "ORGANIZATION_EDITOR": [],
    "ORGANIZATION_RUNNER": [],
    "ORGANIZATION_READER": [],
    "ORGANIZATION_MEMBER": [],
    "WORKSPACE_ADMIN": [],
    "WORKSPACE_EDITOR": [],
    "WORKSPACE_RUNNER": [],
    "WORKSPACE_READER": []
  },
  "GoCardlessAPIEnvironment": {
    "SANDBOX": [],
    "LIVE": []
  },
  "Gocardless": {
    "GOCARDLESS": []
  },
  "SourceGocardlessTypedDict": {},
  "SourceGocardless": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "OneHundredms": {
    "ONE_HUNDREDMS": []
  },
  "Source100msTypedDict": {},
  "Source100ms": {},
  "Shippo": {
    "SHIPPO": []
  },
  "SourceShippoTypedDict": {},
  "SourceShippo": {},
  "GoogleSearchConsoleAuthorizationTypedDict": {},
  "GoogleSearchConsoleAuthorization": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "GoogleSearchConsoleTypedDict": {},
  "GoogleSearchConsole": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Recreation": {
    "RECREATION": []
  },
  "SourceRecreationTypedDict": {},
  "SourceRecreation": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceConfigurationTypedDict": [],
  "SourceConfiguration": [],
  "LightspeedRetail": {
    "LIGHTSPEED_RETAIL": []
  },
  "SourceLightspeedRetailTypedDict": {},
  "SourceLightspeedRetail": {},
  "Inflowinventory": {
    "INFLOWINVENTORY": []
  },
  "SourceInflowinventoryTypedDict": {},
  "SourceInflowinventory": {},
  "MercadoAds": {
    "MERCADO_ADS": []
  },
  "SourceMercadoAdsTypedDict": {},
  "SourceMercadoAds": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Stockdata": {
    "STOCKDATA": []
  },
  "SourceStockdataTypedDict": {},
  "SourceStockdata": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Coda": {
    "CODA": []
  },
  "SourceCodaTypedDict": {},
  "SourceCoda": {},
  "Vantage": {
    "VANTAGE": []
  },
  "SourceVantageTypedDict": {},
  "SourceVantage": {},
  "Ringcentral": {
    "RINGCENTRAL": []
  },
  "SourceRingcentralTypedDict": {},
  "SourceRingcentral": {},
  "Confluence": {
    "CONFLUENCE": []
  },
  "SourceConfluenceTypedDict": {},
  "SourceConfluence": {},
  "MicrosoftLists": {
    "MICROSOFT_LISTS": []
  },
  "SourceMicrosoftListsTypedDict": {},
  "SourceMicrosoftLists": {},
  "SourcesResponseTypedDict": {},
  "SourcesResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SnowflakeCortex": {
    "SNOWFLAKE_CORTEX": []
  },
  "DestinationSnowflakeCortexModeOpenaiCompatible": {
    "OPENAI_COMPATIBLE": []
  },
  "DestinationSnowflakeCortexOpenAICompatibleTypedDict": {},
  "DestinationSnowflakeCortexOpenAICompatible": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexModeAzureOpenai": {
    "AZURE_OPENAI": []
  },
  "DestinationSnowflakeCortexAzureOpenAITypedDict": {},
  "DestinationSnowflakeCortexAzureOpenAI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexModeFake": {
    "FAKE": []
  },
  "DestinationSnowflakeCortexFakeTypedDict": {},
  "DestinationSnowflakeCortexFake": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexModeCohere": {
    "COHERE": []
  },
  "DestinationSnowflakeCortexCohereTypedDict": {},
  "DestinationSnowflakeCortexCohere": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexModeOpenai": {
    "OPENAI": []
  },
  "DestinationSnowflakeCortexOpenAITypedDict": {},
  "DestinationSnowflakeCortexOpenAI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexEmbeddingTypedDict": [],
  "DestinationSnowflakeCortexEmbedding": [],
  "DestinationSnowflakeCortexCredentialsTypedDict": {},
  "DestinationSnowflakeCortexCredentials": {},
  "SnowflakeConnectionTypedDict": {},
  "SnowflakeConnection": {},
  "DestinationSnowflakeCortexFieldNameMappingConfigModelTypedDict": {},
  "DestinationSnowflakeCortexFieldNameMappingConfigModel": {},
  "DestinationSnowflakeCortexLanguage": {
    "CPP": [],
    "GO": [],
    "JAVA": [],
    "JS": [],
    "PHP": [],
    "PROTO": [],
    "PYTHON": [],
    "RST": [],
    "RUBY": [],
    "RUST": [],
    "SCALA": [],
    "SWIFT": [],
    "MARKDOWN": [],
    "LATEX": [],
    "HTML": [],
    "SOL": []
  },
  "DestinationSnowflakeCortexModeCode": {
    "CODE": []
  },
  "DestinationSnowflakeCortexByProgrammingLanguageTypedDict": {},
  "DestinationSnowflakeCortexByProgrammingLanguage": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexModeMarkdown": {
    "MARKDOWN": []
  },
  "DestinationSnowflakeCortexByMarkdownHeaderTypedDict": {},
  "DestinationSnowflakeCortexByMarkdownHeader": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexModeSeparator": {
    "SEPARATOR": []
  },
  "DestinationSnowflakeCortexBySeparatorTypedDict": {},
  "DestinationSnowflakeCortexBySeparator": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexTextSplitterTypedDict": [],
  "DestinationSnowflakeCortexTextSplitter": [],
  "DestinationSnowflakeCortexProcessingConfigModelTypedDict": {},
  "DestinationSnowflakeCortexProcessingConfigModel": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationSnowflakeCortexTypedDict": {},
  "DestinationSnowflakeCortex": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Repairshopr": {
    "REPAIRSHOPR": []
  },
  "SourceRepairshoprTypedDict": {},
  "SourceRepairshopr": {},
  "SourceWorkdayRestAuthenticationTypedDict": {},
  "SourceWorkdayRestAuthentication": {},
  "WorkdayRest": {
    "WORKDAY_REST": []
  },
  "SourceWorkdayRestTypedDict": {},
  "SourceWorkdayRest": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Motherduck": {
    "MOTHERDUCK": []
  },
  "DestinationMotherduckTypedDict": {},
  "DestinationMotherduck": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ValidAdStatuses": {
    "ACTIVE": [],
    "ADSET_PAUSED": [],
    "ARCHIVED": [],
    "CAMPAIGN_PAUSED": [],
    "DELETED": [],
    "DISAPPROVED": [],
    "IN_PROCESS": [],
    "PAUSED": [],
    "PENDING_BILLING_INFO": [],
    "PENDING_REVIEW": [],
    "PREAPPROVED": [],
    "WITH_ISSUES": []
  },
  "ValidAdSetStatuses": {
    "ACTIVE": [],
    "ARCHIVED": [],
    "CAMPAIGN_PAUSED": [],
    "DELETED": [],
    "IN_PROCESS": [],
    "PAUSED": [],
    "WITH_ISSUES": []
  },
  "ValidCampaignStatuses": {
    "ACTIVE": [],
    "ARCHIVED": [],
    "DELETED": [],
    "IN_PROCESS": [],
    "PAUSED": [],
    "WITH_ISSUES": []
  },
  "SourceFacebookMarketingAuthTypeService": {
    "SERVICE": []
  },
  "SourceFacebookMarketingServiceAccountKeyAuthenticationTypedDict": {},
  "SourceFacebookMarketingServiceAccountKeyAuthentication": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceFacebookMarketingAuthTypeClient": {
    "CLIENT": []
  },
  "AuthenticateViaFacebookMarketingOauthTypedDict": {},
  "AuthenticateViaFacebookMarketingOauth": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceFacebookMarketingAuthenticationTypedDict": [],
  "SourceFacebookMarketingAuthentication": [],
  "ActionBreakdownValidActionBreakdowns": {
    "ACTION_CANVAS_COMPONENT_NAME": [],
    "ACTION_CAROUSEL_CARD_ID": [],
    "ACTION_CAROUSEL_CARD_NAME": [],
    "ACTION_DESTINATION": [],
    "ACTION_DEVICE": [],
    "ACTION_REACTION": [],
    "ACTION_TARGET_ID": [],
    "ACTION_TYPE": [],
    "ACTION_VIDEO_SOUND": [],
    "ACTION_VIDEO_TYPE": [],
    "CONVERSION_DESTINATION": [],
    "MATCHED_PERSONA_ID": [],
    "MATCHED_PERSONA_NAME": [],
    "SIGNAL_SOURCE_BUCKET": [],
    "STANDARD_EVENT_CONTENT_TYPE": []
  },
  "ValidBreakdowns": {
    "AD_EXTENSION_DOMAIN": [],
    "AD_EXTENSION_URL": [],
    "AD_FORMAT_ASSET": [],
    "AGE": [],
    "APP_ID": [],
    "BODY_ASSET": [],
    "BREAKDOWN_AD_OBJECTIVE": [],
    "BREAKDOWN_REPORTING_AD_ID": [],
    "CALL_TO_ACTION_ASSET": [],
    "COARSE_CONVERSION_VALUE": [],
    "COMSCORE_MARKET": [],
    "COMSCORE_MARKET_CODE": [],
    "CONVERSION_DESTINATION": [],
    "COUNTRY": [],
    "CREATIVE_RELAXATION_ASSET_TYPE": [],
    "DESCRIPTION_ASSET": [],
    "DEVICE_PLATFORM": [],
    "DMA": [],
    "FIDELITY_TYPE": [],
    "FLEXIBLE_FORMAT_ASSET_TYPE": [],
    "FREQUENCY_VALUE": [],
    "GEN_AI_ASSET_TYPE": [],
    "GENDER": [],
    "HOURLY_STATS_AGGREGATED_BY_ADVERTISER_TIME_ZONE": [],
    "HOURLY_STATS_AGGREGATED_BY_AUDIENCE_TIME_ZONE": [],
    "HSID": [],
    "IMAGE_ASSET": [],
    "IMPRESSION_DEVICE": [],
    "IMPRESSION_VIEW_TIME_ADVERTISER_HOUR_V2": [],
    "IS_AUTO_ADVANCE": [],
    "IS_CONVERSION_ID_MODELED": [],
    "IS_RENDERED_AS_DELAYED_SKIP_AD": [],
    "LANDING_DESTINATION": [],
    "LINK_URL_ASSET": [],
    "MARKETING_MESSAGES_BTN_NAME": [],
    "MDSA_LANDING_DESTINATION": [],
    "MEDIA_ASSET_URL": [],
    "MEDIA_CREATOR": [],
    "MEDIA_DESTINATION_URL": [],
    "MEDIA_FORMAT": [],
    "MEDIA_ORIGIN_URL": [],
    "MEDIA_TEXT_CONTENT": [],
    "MEDIA_TYPE": [],
    "MMM": [],
    "PLACE_PAGE_ID": [],
    "PLATFORM_POSITION": [],
    "POSTBACK_SEQUENCE_INDEX": [],
    "PRODUCT_ID": [],
    "PUBLISHER_PLATFORM": [],
    "REDOWNLOAD": [],
    "REGION": [],
    "SIGNAL_SOURCE_BUCKET": [],
    "SKAN_CAMPAIGN_ID": [],
    "SKAN_CONVERSION_ID": [],
    "SKAN_VERSION": [],
    "SOT_ATTRIBUTION_MODEL_TYPE": [],
    "SOT_ATTRIBUTION_WINDOW": [],
    "SOT_CHANNEL": [],
    "SOT_EVENT_TYPE": [],
    "SOT_SOURCE": [],
    "STANDARD_EVENT_CONTENT_TYPE": [],
    "TITLE_ASSET": [],
    "USER_PERSONA_ID": [],
    "USER_PERSONA_NAME": [],
    "VIDEO_ASSET": [],
    "USER_SEGMENT_KEY": []
  },
  "SourceFacebookMarketingValidEnums": {
    "ACCOUNT_CURRENCY": [],
    "ACCOUNT_ID": [],
    "ACCOUNT_NAME": [],
    "ACTION_VALUES": [],
    "ACTIONS": [],
    "AD_CLICK_ACTIONS": [],
    "AD_ID": [],
    "AD_IMPRESSION_ACTIONS": [],
    "AD_NAME": [],
    "ADSET_END": [],
    "ADSET_ID": [],
    "ADSET_NAME": [],
    "AGE_TARGETING": [],
    "ATTRIBUTION_SETTING": [],
    "AUCTION_BID": [],
    "AUCTION_COMPETITIVENESS": [],
    "AUCTION_MAX_COMPETITOR_BID": [],
    "AVERAGE_PURCHASES_CONVERSION_VALUE": [],
    "BUYING_TYPE": [],
    "CAMPAIGN_ID": [],
    "CAMPAIGN_NAME": [],
    "CANVAS_AVG_VIEW_PERCENT": [],
    "CANVAS_AVG_VIEW_TIME": [],
    "CATALOG_SEGMENT_ACTIONS": [],
    "CATALOG_SEGMENT_VALUE": [],
    "CATALOG_SEGMENT_VALUE_MOBILE_PURCHASE_ROAS": [],
    "CATALOG_SEGMENT_VALUE_OMNI_PURCHASE_ROAS": [],
    "CATALOG_SEGMENT_VALUE_WEBSITE_PURCHASE_ROAS": [],
    "CLICKS": [],
    "CONVERSION_LEADS": [],
    "CONVERSION_RATE_RANKING": [],
    "CONVERSION_VALUES": [],
    "CONVERSIONS": [],
    "CONVERTED_PRODUCT_APP_CUSTOM_EVENT_FB_MOBILE_PURCHASE": [],
    "CONVERTED_PRODUCT_APP_CUSTOM_EVENT_FB_MOBILE_PURCHASE_VALUE": [],
    "CONVERTED_PRODUCT_OFFLINE_PURCHASE": [],
    "CONVERTED_PRODUCT_OFFLINE_PURCHASE_VALUE": [],
    "CONVERTED_PRODUCT_OMNI_PURCHASE": [],
    "CONVERTED_PRODUCT_OMNI_PURCHASE_VALUES": [],
    "CONVERTED_PRODUCT_QUANTITY": [],
    "CONVERTED_PRODUCT_VALUE": [],
    "CONVERTED_PRODUCT_WEBSITE_PIXEL_PURCHASE": [],
    "CONVERTED_PRODUCT_WEBSITE_PIXEL_PURCHASE_VALUE": [],
    "CONVERTED_PROMOTED_PRODUCT_APP_CUSTOM_EVENT_FB_MOBILE_PURCHASE": [],
    "CONVERTED_PROMOTED_PRODUCT_APP_CUSTOM_EVENT_FB_MOBILE_PURCHASE_VALUE": [],
    "CONVERTED_PROMOTED_PRODUCT_OFFLINE_PURCHASE": [],
    "CONVERTED_PROMOTED_PRODUCT_OFFLINE_PURCHASE_VALUE": [],
    "CONVERTED_PROMOTED_PRODUCT_OMNI_PURCHASE": [],
    "CONVERTED_PROMOTED_PRODUCT_OMNI_PURCHASE_VALUES": [],
    "CONVERTED_PROMOTED_PRODUCT_QUANTITY": [],
    "CONVERTED_PROMOTED_PRODUCT_VALUE": [],
    "CONVERTED_PROMOTED_PRODUCT_WEBSITE_PIXEL_PURCHASE": [],
    "CONVERTED_PROMOTED_PRODUCT_WEBSITE_PIXEL_PURCHASE_VALUE": [],
    "COST_PER_15_SEC_VIDEO_VIEW": [],
    "COST_PER_2_SEC_CONTINUOUS_VIDEO_VIEW": [],
    "COST_PER_ACTION_TYPE": [],
    "COST_PER_AD_CLICK": [],
    "COST_PER_CONVERSION": [],
    "COST_PER_DDA_COUNTBY_CONVS": [],
    "COST_PER_ESTIMATED_AD_RECALLERS": [],
    "COST_PER_INLINE_LINK_CLICK": [],
    "COST_PER_INLINE_POST_ENGAGEMENT": [],
    "COST_PER_OBJECTIVE_RESULT": [],
    "COST_PER_ONE_THOUSAND_AD_IMPRESSION": [],
    "COST_PER_OUTBOUND_CLICK": [],
    "COST_PER_RESULT": [],
    "COST_PER_THRUPLAY": [],
    "COST_PER_UNIQUE_ACTION_TYPE": [],
    "COST_PER_UNIQUE_CLICK": [],
    "COST_PER_UNIQUE_CONVERSION": [],
    "COST_PER_UNIQUE_INLINE_LINK_CLICK": [],
    "COST_PER_UNIQUE_OUTBOUND_CLICK": [],
    "CPC": [],
    "CPM": [],
    "CPP": [],
    "CREATED_TIME": [],
    "CREATIVE_MEDIA_TYPE": [],
    "CTR": [],
    "DATE_START": [],
    "DATE_STOP": [],
    "DDA_COUNTBY_CONVS": [],
    "DDA_RESULTS": [],
    "ENGAGEMENT_RATE_RANKING": [],
    "ESTIMATED_AD_RECALL_RATE": [],
    "ESTIMATED_AD_RECALL_RATE_LOWER_BOUND": [],
    "ESTIMATED_AD_RECALL_RATE_UPPER_BOUND": [],
    "ESTIMATED_AD_RECALLERS": [],
    "ESTIMATED_AD_RECALLERS_LOWER_BOUND": [],
    "ESTIMATED_AD_RECALLERS_UPPER_BOUND": [],
    "FREQUENCY": [],
    "FULL_VIEW_IMPRESSIONS": [],
    "FULL_VIEW_REACH": [],
    "GENDER_TARGETING": [],
    "IMPRESSIONS": [],
    "INLINE_LINK_CLICK_CTR": [],
    "INLINE_LINK_CLICKS": [],
    "INLINE_POST_ENGAGEMENT": [],
    "INSTAGRAM_UPCOMING_EVENT_REMINDERS_SET": [],
    "INSTANT_EXPERIENCE_CLICKS_TO_OPEN": [],
    "INSTANT_EXPERIENCE_CLICKS_TO_START": [],
    "INSTANT_EXPERIENCE_OUTBOUND_CLICKS": [],
    "INTERACTIVE_COMPONENT_TAP": [],
    "LABELS": [],
    "LANDING_PAGE_VIEW_ACTIONS_PER_LINK_CLICK": [],
    "LANDING_PAGE_VIEW_PER_LINK_CLICK": [],
    "LANDING_PAGE_VIEW_PER_PURCHASE_RATE": [],
    "LINK_CLICKS_PER_RESULTS": [],
    "LOCATION": [],
    "MARKETING_MESSAGES_CLICK_RATE_BENCHMARK": [],
    "MARKETING_MESSAGES_COST_PER_DELIVERED": [],
    "MARKETING_MESSAGES_COST_PER_LINK_BTN_CLICK": [],
    "MARKETING_MESSAGES_DELIVERED": [],
    "MARKETING_MESSAGES_DELIVERY_RATE": [],
    "MARKETING_MESSAGES_LINK_BTN_CLICK": [],
    "MARKETING_MESSAGES_LINK_BTN_CLICK_RATE": [],
    "MARKETING_MESSAGES_MEDIA_VIEW_RATE": [],
    "MARKETING_MESSAGES_PHONE_CALL_BTN_CLICK_RATE": [],
    "MARKETING_MESSAGES_QUICK_REPLY_BTN_CLICK": [],
    "MARKETING_MESSAGES_QUICK_REPLY_BTN_CLICK_RATE": [],
    "MARKETING_MESSAGES_READ": [],
    "MARKETING_MESSAGES_READ_RATE": [],
    "MARKETING_MESSAGES_READ_RATE_BENCHMARK": [],
    "MARKETING_MESSAGES_SENT": [],
    "MARKETING_MESSAGES_SPEND": [],
    "MARKETING_MESSAGES_SPEND_CURRENCY": [],
    "MARKETING_MESSAGES_WEBSITE_ADD_TO_CART": [],
    "MARKETING_MESSAGES_WEBSITE_INITIATE_CHECKOUT": [],
    "MARKETING_MESSAGES_WEBSITE_PURCHASE": [],
    "MARKETING_MESSAGES_WEBSITE_PURCHASE_VALUES": [],
    "MOBILE_APP_PURCHASE_ROAS": [],
    "OBJECTIVE": [],
    "OBJECTIVE_RESULT_RATE": [],
    "OBJECTIVE_RESULTS": [],
    "ONSITE_CONVERSION_MESSAGING_DETECTED_PURCHASE_DEDUPED": [],
    "OPTIMIZATION_GOAL": [],
    "OUTBOUND_CLICKS": [],
    "OUTBOUND_CLICKS_CTR": [],
    "PLACE_PAGE_NAME": [],
    "PRODUCT_BRAND": [],
    "PRODUCT_CATEGORY": [],
    "PRODUCT_CONTENT_ID": [],
    "PRODUCT_CUSTOM_LABEL_0": [],
    "PRODUCT_CUSTOM_LABEL_1": [],
    "PRODUCT_CUSTOM_LABEL_2": [],
    "PRODUCT_CUSTOM_LABEL_3": [],
    "PRODUCT_CUSTOM_LABEL_4": [],
    "PRODUCT_GROUP_CONTENT_ID": [],
    "PRODUCT_GROUP_RETAILER_ID": [],
    "PRODUCT_NAME": [],
    "PRODUCT_RETAILER_ID": [],
    "PRODUCT_VIEWS": [],
    "PURCHASE_PER_LANDING_PAGE_VIEW": [],
    "PURCHASE_ROAS": [],
    "PURCHASES_PER_LINK_CLICK": [],
    "QUALIFYING_QUESTION_QUALIFY_ANSWER_RATE": [],
    "QUALITY_RANKING": [],
    "REACH": [],
    "RESULT_RATE": [],
    "RESULT_VALUES_PERFORMANCE_INDICATOR": [],
    "RESULTS": [],
    "SHOPS_ASSISTED_PURCHASES": [],
    "SOCIAL_SPEND": [],
    "SPEND": [],
    "TOTAL_CARD_VIEW": [],
    "TOTAL_POSTBACKS": [],
    "TOTAL_POSTBACKS_DETAILED": [],
    "TOTAL_POSTBACKS_DETAILED_V4": [],
    "UNIQUE_ACTIONS": [],
    "UNIQUE_CLICKS": [],
    "UNIQUE_CONVERSIONS": [],
    "UNIQUE_CTR": [],
    "UNIQUE_INLINE_LINK_CLICK_CTR": [],
    "UNIQUE_INLINE_LINK_CLICKS": [],
    "UNIQUE_LINK_CLICKS_CTR": [],
    "UNIQUE_OUTBOUND_CLICKS": [],
    "UNIQUE_OUTBOUND_CLICKS_CTR": [],
    "UNIQUE_VIDEO_CONTINUOUS_2_SEC_WATCHED_ACTIONS": [],
    "UNIQUE_VIDEO_VIEW_15_SEC": [],
    "UPDATED_TIME": [],
    "VIDEO_15_SEC_WATCHED_ACTIONS": [],
    "VIDEO_30_SEC_WATCHED_ACTIONS": [],
    "VIDEO_AVG_TIME_WATCHED_ACTIONS": [],
    "VIDEO_CONTINUOUS_2_SEC_WATCHED_ACTIONS": [],
    "VIDEO_P100_WATCHED_ACTIONS": [],
    "VIDEO_P25_WATCHED_ACTIONS": [],
    "VIDEO_P50_WATCHED_ACTIONS": [],
    "VIDEO_P75_WATCHED_ACTIONS": [],
    "VIDEO_P95_WATCHED_ACTIONS": [],
    "VIDEO_PLAY_ACTIONS": [],
    "VIDEO_PLAY_CURVE_ACTIONS": [],
    "VIDEO_PLAY_RETENTION_0_TO_15S_ACTIONS": [],
    "VIDEO_PLAY_RETENTION_20_TO_60S_ACTIONS": [],
    "VIDEO_PLAY_RETENTION_GRAPH_ACTIONS": [],
    "VIDEO_THRUPLAY_WATCHED_ACTIONS": [],
    "VIDEO_TIME_WATCHED_ACTIONS": [],
    "VIDEO_VIEW_PER_IMPRESSION": [],
    "WEBSITE_CTR": [],
    "WEBSITE_PURCHASE_ROAS": [],
    "WISH_BID": []
  },
  "SourceFacebookMarketingLevel": {
    "AD": [],
    "ADSET": [],
    "CAMPAIGN": [],
    "ACCOUNT": []
  },
  "InsightConfigTypedDict": {},
  "InsightConfig": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DefaultAdsInsightsActionBreakdownValidActionBreakdowns": {
    "ACTION_CANVAS_COMPONENT_NAME": [],
    "ACTION_CAROUSEL_CARD_ID": [],
    "ACTION_CAROUSEL_CARD_NAME": [],
    "ACTION_DESTINATION": [],
    "ACTION_DEVICE": [],
    "ACTION_REACTION": [],
    "ACTION_TARGET_ID": [],
    "ACTION_TYPE": [],
    "ACTION_VIDEO_SOUND": [],
    "ACTION_VIDEO_TYPE": [],
    "CONVERSION_DESTINATION": [],
    "MATCHED_PERSONA_ID": [],
    "MATCHED_PERSONA_NAME": [],
    "SIGNAL_SOURCE_BUCKET": [],
    "STANDARD_EVENT_CONTENT_TYPE": []
  },
  "FacebookMarketingEnum": {
    "FACEBOOK_MARKETING": []
  },
  "SourceFacebookMarketingTypedDict": {},
  "SourceFacebookMarketing": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Spotlercrm": {
    "SPOTLERCRM": []
  },
  "SourceSpotlercrmTypedDict": {},
  "SourceSpotlercrm": {},
  "SourceGoogleAdsGoogleCredentialsTypedDict": {},
  "SourceGoogleAdsGoogleCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CustomQueriesArrayTypedDict": {},
  "CustomQueriesArray": {},
  "CustomerStatus": {
    "UNKNOWN": [],
    "ENABLED": [],
    "CANCELED": [],
    "SUSPENDED": [],
    "CLOSED": []
  },
  "GoogleAdsEnum": {
    "GOOGLE_ADS": []
  },
  "SourceGoogleAdsTypedDict": {},
  "SourceGoogleAds": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Algolia": {
    "ALGOLIA": []
  },
  "SourceAlgoliaTypedDict": {},
  "SourceAlgolia": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "OrganizationsResponseTypedDict": {},
  "OrganizationsResponse": {},
  "Posthog": {
    "POSTHOG": []
  },
  "SourcePosthogTypedDict": {},
  "SourcePosthog": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "JobsResponseTypedDict": {},
  "JobsResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ClusterTypeSelfManagedReplicaSet": {
    "SELF_MANAGED_REPLICA_SET": []
  },
  "SelfManagedReplicaSetTypedDict": {},
  "SelfManagedReplicaSet": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ClusterTypeAtlasReplicaSet": {
    "ATLAS_REPLICA_SET": []
  },
  "MongoDBAtlasReplicaSetTypedDict": {},
  "MongoDBAtlasReplicaSet": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ClusterTypeTypedDict": [],
  "ClusterType": [],
  "SourceMongodbV2InvalidCDCPositionBehaviorAdvanced": {
    "FAIL_SYNC": [],
    "RE_SYNC_DATA": []
  },
  "MongodbV2": {
    "MONGODB_V2": []
  },
  "CaptureModeAdvanced": {
    "LOOKUP": [],
    "POST_IMAGE": []
  },
  "SourceMongodbV2TypedDict": {},
  "SourceMongodbV2": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "TvmazeSchedule": {
    "TVMAZE_SCHEDULE": []
  },
  "SourceTvmazeScheduleTypedDict": {},
  "SourceTvmazeSchedule": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DataCenterLocation": {
    "US": [],
    "AU": [],
    "EU": [],
    "IN": [],
    "CN": [],
    "JP": []
  },
  "ZohoCRMEdition": {
    "FREE": [],
    "STANDARD": [],
    "PROFESSIONAL": [],
    "ENTERPRISE": [],
    "ULTIMATE": []
  },
  "SourceZohoCrmEnvironment": {
    "PRODUCTION": [],
    "DEVELOPER": [],
    "SANDBOX": []
  },
  "ZohoCrm": {
    "ZOHO_CRM": []
  },
  "SourceZohoCrmTypedDict": {},
  "SourceZohoCrm": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DeclarativeSourceDefinitionResponseTypedDict": {},
  "DeclarativeSourceDefinitionResponse": {},
  "SonarCloud": {
    "SONAR_CLOUD": []
  },
  "SourceSonarCloudTypedDict": {},
  "SourceSonarCloud": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "MailjetMail": {
    "MAILJET_MAIL": []
  },
  "SourceMailjetMailTypedDict": {},
  "SourceMailjetMail": {},
  "GoogleCalendar": {
    "GOOGLE_CALENDAR": []
  },
  "SourceGoogleCalendarTypedDict": {},
  "SourceGoogleCalendar": {},
  "Omnisend": {
    "OMNISEND": []
  },
  "SourceOmnisendTypedDict": {},
  "SourceOmnisend": {},
  "Emailoctopus": {
    "EMAILOCTOPUS": []
  },
  "SourceEmailoctopusTypedDict": {},
  "SourceEmailoctopus": {},
  "Picqer": {
    "PICQER": []
  },
  "SourcePicqerTypedDict": {},
  "SourcePicqer": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Firestore": {
    "FIRESTORE": []
  },
  "DestinationFirestoreTypedDict": {},
  "DestinationFirestore": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Giphy": {
    "GIPHY": []
  },
  "SourceGiphyTypedDict": {},
  "SourceGiphy": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Gorgias": {
    "GORGIAS": []
  },
  "SourceGorgiasTypedDict": {},
  "SourceGorgias": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "CareQualityCommission": {
    "CARE_QUALITY_COMMISSION": []
  },
  "SourceCareQualityCommissionTypedDict": {},
  "SourceCareQualityCommission": {},
  "AmazonSellerPartnerTypedDict": {},
  "AmazonSellerPartner": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Orb": {
    "ORB": []
  },
  "SourceOrbTypedDict": {},
  "SourceOrb": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "LinkedinAdsCredentialsTypedDict": {},
  "LinkedinAdsCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "LinkedinAdsTypedDict": {},
  "LinkedinAds": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceLinkedinPagesAuthMethodAccessToken": {
    "ACCESS_TOKEN": []
  },
  "SourceLinkedinPagesAccessTokenTypedDict": {},
  "SourceLinkedinPagesAccessToken": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceLinkedinPagesAuthMethodOAuth20": {
    "O_AUTH2_0": []
  },
  "SourceLinkedinPagesOAuth20TypedDict": {},
  "SourceLinkedinPagesOAuth20": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceLinkedinPagesAuthenticationTypedDict": [],
  "SourceLinkedinPagesAuthentication": [],
  "LinkedinPages": {
    "LINKEDIN_PAGES": []
  },
  "TimeGranularityType": {
    "DAY": [],
    "MONTH": []
  },
  "SourceLinkedinPagesTypedDict": {},
  "SourceLinkedinPages": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Plausible": {
    "PLAUSIBLE": []
  },
  "SourcePlausibleTypedDict": {},
  "SourcePlausible": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceZohoBooksRegion": {
    "COM": [],
    "EU": [],
    "IN": [],
    "COM_CN": [],
    "COM_AU": [],
    "JP": [],
    "SA": [],
    "CA": []
  },
  "ZohoBooks": {
    "ZOHO_BOOKS": []
  },
  "SourceZohoBooksTypedDict": {},
  "SourceZohoBooks": {},
  "SourceOracleConnectionTypeSid": {
    "SID": []
  },
  "SourceOracleSystemIDSIDTypedDict": {},
  "SourceOracleSystemIDSID": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceOracleConnectionTypeServiceName": {
    "SERVICE_NAME": []
  },
  "SourceOracleServiceNameTypedDict": {},
  "SourceOracleServiceName": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceOracleConnectByTypedDict": [],
  "SourceOracleConnectBy": [],
  "SourceOracleEncryptionMethodEncryptedVerifyCertificate": {
    "ENCRYPTED_VERIFY_CERTIFICATE": []
  },
  "SourceOracleTLSEncryptedVerifyCertificateTypedDict": {},
  "SourceOracleTLSEncryptedVerifyCertificate": {},
  "SourceOracleEncryptionAlgorithm": {
    "AES256": [],
    "RC4_56": [],
    "THREE_DES168": []
  },
  "SourceOracleEncryptionMethodClientNne": {
    "CLIENT_NNE": []
  },
  "SourceOracleNativeNetworkEncryptionNNETypedDict": {},
  "SourceOracleNativeNetworkEncryptionNNE": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceOracleEncryptionMethodUnencrypted": {
    "UNENCRYPTED": []
  },
  "SourceOracleUnencryptedTypedDict": {},
  "SourceOracleUnencrypted": {},
  "SourceOracleEncryptionTypedDict": [],
  "SourceOracleEncryption": [],
  "SourceOracleOracle": {
    "ORACLE": []
  },
  "SourceOracleTunnelMethodSSHPasswordAuth": {
    "SSH_PASSWORD_AUTH": []
  },
  "SourceOraclePasswordAuthenticationTypedDict": {},
  "SourceOraclePasswordAuthentication": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceOracleTunnelMethodSSHKeyAuth": {
    "SSH_KEY_AUTH": []
  },
  "SourceOracleSSHKeyAuthenticationTypedDict": {},
  "SourceOracleSSHKeyAuthentication": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceOracleTunnelMethodNoTunnel": {
    "NO_TUNNEL": []
  },
  "SourceOracleNoTunnelTypedDict": {},
  "SourceOracleNoTunnel": {},
  "SourceOracleSSHTunnelMethodTypedDict": [],
  "SourceOracleSSHTunnelMethod": [],
  "SourceOracleTypedDict": {},
  "SourceOracle": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Smartwaiver": {
    "SMARTWAIVER": []
  },
  "SourceSmartwaiverTypedDict": {},
  "SourceSmartwaiver": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Navan": {
    "NAVAN": []
  },
  "SourceNavanTypedDict": {},
  "SourceNavan": {},
  "Freshservice": {
    "FRESHSERVICE": []
  },
  "SourceFreshserviceTypedDict": {},
  "SourceFreshservice": {},
  "StreamConfigurationTypedDict": {},
  "StreamConfiguration": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "AuthTypeSingleStoreAccessToken": {
    "SINGLE_STORE_ACCESS_TOKEN": []
  },
  "SingleStoreAccessTokenTypedDict": {},
  "SingleStoreAccessToken": {},
  "AuthTypeCentralAPIRouter": {
    "CENTRAL_API_ROUTER": []
  },
  "CentralAPIRouterTypedDict": {},
  "CentralAPIRouter": {},
  "SourceCartAuthorizationMethodTypedDict": [],
  "SourceCartAuthorizationMethod": [],
  "Cart": {
    "CART": []
  },
  "SourceCartTypedDict": {},
  "SourceCart": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "NamespaceDefinitionEnum": {
    "SOURCE": [],
    "DESTINATION": [],
    "CUSTOM_FORMAT": []
  },
  "SourceGoogleSheetsAuthTypeService": {
    "SERVICE": []
  },
  "SourceGoogleSheetsServiceAccountKeyAuthenticationTypedDict": {},
  "SourceGoogleSheetsServiceAccountKeyAuthentication": {},
  "SourceGoogleSheetsAuthTypeClient": {
    "CLIENT": []
  },
  "SourceGoogleSheetsAuthenticateViaGoogleOAuthTypedDict": {},
  "SourceGoogleSheetsAuthenticateViaGoogleOAuth": {},
  "SourceGoogleSheetsAuthenticationTypedDict": [],
  "SourceGoogleSheetsAuthentication": [],
  "SourceGoogleSheetsGoogleSheets": {
    "GOOGLE_SHEETS": []
  },
  "StreamNameOverrideTypedDict": {},
  "StreamNameOverride": {},
  "SourceGoogleSheetsTypedDict": {},
  "SourceGoogleSheets": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Fillout": {
    "FILLOUT": []
  },
  "SourceFilloutTypedDict": {},
  "SourceFillout": {},
  "MyHours": {
    "MY_HOURS": []
  },
  "SourceMyHoursTypedDict": {},
  "SourceMyHours": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "TiktokMarketingCredentialsTypedDict": {},
  "TiktokMarketingCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "TiktokMarketingTypedDict": {},
  "TiktokMarketing": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PermissionScope": {
    "WORKSPACE": [],
    "ORGANIZATION": [],
    "NONE": []
  },
  "SourceMailchimpAuthTypeApikey": {
    "APIKEY": []
  },
  "SourceMailchimpAPIKeyTypedDict": {},
  "SourceMailchimpAPIKey": {},
  "SourceMailchimpAuthTypeOauth20": {
    "OAUTH2_0": []
  },
  "SourceMailchimpOAuth20TypedDict": {},
  "SourceMailchimpOAuth20": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMailchimpAuthenticationTypedDict": [],
  "SourceMailchimpAuthentication": [],
  "MailchimpEnum": {
    "MAILCHIMP": []
  },
  "SourceMailchimpTypedDict": {},
  "SourceMailchimp": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "HubspotCredentialsTypedDict": {},
  "HubspotCredentials": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "HubspotTypedDict": {},
  "Hubspot": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMysqlMysql": {
    "MYSQL": []
  },
  "DestinationMysqlTunnelMethodSSHPasswordAuth": {
    "SSH_PASSWORD_AUTH": []
  },
  "DestinationMysqlPasswordAuthenticationTypedDict": {},
  "DestinationMysqlPasswordAuthentication": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMysqlTunnelMethodSSHKeyAuth": {
    "SSH_KEY_AUTH": []
  },
  "DestinationMysqlSSHKeyAuthenticationTypedDict": {},
  "DestinationMysqlSSHKeyAuthentication": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "DestinationMysqlTunnelMethodNoTunnel": {
    "NO_TUNNEL": []
  },
  "DestinationMysqlNoTunnelTypedDict": {},
  "DestinationMysqlNoTunnel": {},
  "DestinationMysqlSSHTunnelMethodTypedDict": [],
  "DestinationMysqlSSHTunnelMethod": [],
  "DestinationMysqlTypedDict": {},
  "DestinationMysql": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceSalesloftAuthTypeAPIKey": {
    "API_KEY": []
  },
  "AuthenticateViaAPIKeyTypedDict": {},
  "AuthenticateViaAPIKey": {},
  "SourceSalesloftAuthTypeOauth20": {
    "OAUTH2_0": []
  },
  "AuthenticateViaOAuthTypedDict": {},
  "AuthenticateViaOAuth": {},
  "SourceSalesloftCredentialsTypedDict": [],
  "SourceSalesloftCredentials": [],
  "Salesloft": {
    "SALESLOFT": []
  },
  "SourceSalesloftTypedDict": {},
  "SourceSalesloft": {},
  "Statsig": {
    "STATSIG": []
  },
  "SourceStatsigTypedDict": {},
  "SourceStatsig": {},
  "ConnectionResponseTypedDict": {},
  "ConnectionResponse": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Dolibarr": {
    "DOLIBARR": []
  },
  "SourceDolibarrTypedDict": {},
  "SourceDolibarr": {},
  "Fastbill": {
    "FASTBILL": []
  },
  "SourceFastbillTypedDict": {},
  "SourceFastbill": {},
  "Oveit": {
    "OVEIT": []
  },
  "SourceOveitTypedDict": {},
  "SourceOveit": {},
  "SourceBabelforceRegion": {
    "SERVICES": [],
    "US_EAST": [],
    "AP_SOUTHEAST": []
  },
  "Babelforce": {
    "BABELFORCE": []
  },
  "SourceBabelforceTypedDict": {},
  "SourceBabelforce": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMysqlInvalidCDCPositionBehaviorAdvanced": {
    "FAIL_SYNC": [],
    "RE_SYNC_DATA": []
  },
  "SourceMysqlMethodCdc": {
    "CDC": []
  },
  "SourceMysqlReadChangesUsingChangeDataCaptureCDCTypedDict": {},
  "SourceMysqlReadChangesUsingChangeDataCaptureCDC": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMysqlMethodStandard": {
    "STANDARD": []
  },
  "SourceMysqlScanChangesWithUserDefinedCursorTypedDict": {},
  "SourceMysqlScanChangesWithUserDefinedCursor": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMysqlUpdateMethodTypedDict": [],
  "SourceMysqlUpdateMethod": [],
  "SourceMysqlMysql": {
    "MYSQL": []
  },
  "ModeVerifyIdentity": {
    "VERIFY_IDENTITY": []
  },
  "VerifyIdentityTypedDict": {},
  "VerifyIdentity": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMysqlModeVerifyCa": {
    "VERIFY_CA": []
  },
  "SourceMysqlVerifyCaTypedDict": {},
  "SourceMysqlVerifyCa": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ModeRequired": {
    "REQUIRED": []
  },
  "RequiredTypedDict": {},
  "Required": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "ModePreferred": {
    "PREFERRED": []
  },
  "PreferredTypedDict": {},
  "Preferred": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMysqlEncryptionTypedDict": [],
  "SourceMysqlEncryption": [],
  "SourceMysqlTunnelMethodSSHPasswordAuth": {
    "SSH_PASSWORD_AUTH": []
  },
  "SourceMysqlPasswordAuthenticationTypedDict": {},
  "SourceMysqlPasswordAuthentication": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMysqlTunnelMethodSSHKeyAuth": {
    "SSH_KEY_AUTH": []
  },
  "SourceMysqlSSHKeyAuthenticationTypedDict": {},
  "SourceMysqlSSHKeyAuthentication": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMysqlTunnelMethodNoTunnel": {
    "NO_TUNNEL": []
  },
  "SourceMysqlNoTunnelTypedDict": {},
  "SourceMysqlNoTunnel": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceMysqlSSHTunnelMethodTypedDict": [],
  "SourceMysqlSSHTunnelMethod": [],
  "SourceMysqlTypedDict": {},
  "SourceMysql": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "EncryptionMapperAlgorithm": {
    "RSA": [],
    "AES": []
  },
  "Appfollow": {
    "APPFOLLOW": []
  },
  "SourceAppfollowTypedDict": {},
  "SourceAppfollow": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "EmploymentHero": {
    "EMPLOYMENT_HERO": []
  },
  "SourceEmploymentHeroTypedDict": {},
  "SourceEmploymentHero": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PolygonStockAPI": {
    "POLYGON_STOCK_API": []
  },
  "SourcePolygonStockAPITypedDict": {},
  "SourcePolygonStockAPI": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "JamfPro": {
    "JAMF_PRO": []
  },
  "SourceJamfProTypedDict": {},
  "SourceJamfPro": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Mailosaur": {
    "MAILOSAUR": []
  },
  "SourceMailosaurTypedDict": {},
  "SourceMailosaur": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "OptionTitleProjectSecret": {
    "PROJECT_SECRET": []
  },
  "ProjectSecretTypedDict": {},
  "ProjectSecret": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "OptionTitleServiceAccount": {
    "SERVICE_ACCOUNT": []
  },
  "ServiceAccountTypedDict": {},
  "ServiceAccount": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "AuthenticationWildcardTypedDict": [],
  "AuthenticationWildcard": [],
  "SourceMixpanelRegion": {
    "US": [],
    "EU": []
  },
  "Mixpanel": {
    "MIXPANEL": []
  },
  "SourceMixpanelTypedDict": {},
  "SourceMixpanel": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "PivotalTracker": {
    "PIVOTAL_TRACKER": []
  },
  "SourcePivotalTrackerTypedDict": {},
  "SourcePivotalTracker": {},
  "Flexmail": {
    "FLEXMAIL": []
  },
  "SourceFlexmailTypedDict": {},
  "SourceFlexmail": {},
  "Lob": {
    "LOB": []
  },
  "SourceLobTypedDict": {},
  "SourceLob": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceDb2EnterpriseCursorMethodCdc": {
    "CDC": []
  },
  "SourceDb2EnterpriseReadChangesUsingChangeDataCaptureCDCTypedDict": {},
  "SourceDb2EnterpriseReadChangesUsingChangeDataCaptureCDC": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceDb2EnterpriseCursorMethodUserDefined": {
    "USER_DEFINED": []
  },
  "SourceDb2EnterpriseScanChangesWithUserDefinedCursorTypedDict": {},
  "SourceDb2EnterpriseScanChangesWithUserDefinedCursor": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceDb2EnterpriseUpdateMethodTypedDict": [],
  "SourceDb2EnterpriseUpdateMethod": [],
  "SourceDb2EnterpriseEncryptionMethodEncryptedVerifyCertificate": {
    "ENCRYPTED_VERIFY_CERTIFICATE": []
  },
  "SourceDb2EnterpriseTLSEncryptedVerifyCertificateTypedDict": {},
  "SourceDb2EnterpriseTLSEncryptedVerifyCertificate": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceDb2EnterpriseEncryptionMethodUnencrypted": {
    "UNENCRYPTED": []
  },
  "SourceDb2EnterpriseUnencryptedTypedDict": {},
  "SourceDb2EnterpriseUnencrypted": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceDb2EnterpriseEncryptionTypedDict": [],
  "SourceDb2EnterpriseEncryption": [],
  "Db2Enterprise": {
    "DB2_ENTERPRISE": []
  },
  "SourceDb2EnterpriseTunnelMethodSSHPasswordAuth": {
    "SSH_PASSWORD_AUTH": []
  },
  "SourceDb2EnterprisePasswordAuthenticationTypedDict": {},
  "SourceDb2EnterprisePasswordAuthentication": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceDb2EnterpriseTunnelMethodSSHKeyAuth": {
    "SSH_KEY_AUTH": []
  },
  "SourceDb2EnterpriseSSHKeyAuthenticationTypedDict": {},
  "SourceDb2EnterpriseSSHKeyAuthentication": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceDb2EnterpriseTunnelMethodNoTunnel": {
    "NO_TUNNEL": []
  },
  "SourceDb2EnterpriseNoTunnelTypedDict": {},
  "SourceDb2EnterpriseNoTunnel": {
    "model_config": [],
    "additional_properties": [
      "self",
      "value"
    ],
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceDb2EnterpriseSSHTunnelMethodTypedDict": [],
  "SourceDb2EnterpriseSSHTunnelMethod": [],
  "SourceDb2EnterpriseTypedDict": {},
  "SourceDb2Enterprise": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Cloudbeds": {
    "CLOUDBEDS": []
  },
  "SourceCloudbedsTypedDict": {},
  "SourceCloudbeds": {},
  "HighLevel": {
    "HIGH_LEVEL": []
  },
  "SourceHighLevelTypedDict": {},
  "SourceHighLevel": {},
  "OAuthActorNames": {
    "AIRTABLE": [],
    "AMAZON_ADS": [],
    "AMAZON_SELLER_PARTNER": [],
    "ASANA": [],
    "AZURE_BLOB_STORAGE": [],
    "BING_ADS": [],
    "DRIFT": [],
    "FACEBOOK_MARKETING": [],
    "FACEBOOK_PAGES": [],
    "GCS": [],
    "GITHUB": [],
    "GITLAB": [],
    "GOOGLE_ADS": [],
    "GOOGLE_ANALYTICS_DATA_API": [],
    "GOOGLE_DRIVE": [],
    "GOOGLE_SEARCH_CONSOLE": [],
    "GOOGLE_SHEETS": [],
    "HUBSPOT": [],
    "INSTAGRAM": [],
    "INTERCOM": [],
    "LEVER_HIRING": [],
    "LINKEDIN_ADS": [],
    "MAILCHIMP": [],
    "MICROSOFT_ONEDRIVE": [],
    "MICROSOFT_SHAREPOINT": [],
    "MICROSOFT_TEAMS": [],
    "MONDAY": [],
    "NOTION": [],
    "PINTEREST": [],
    "RD_STATION_MARKETING": [],
    "SALESFORCE": [],
    "SHAREPOINT_ENTERPRISE": [],
    "SLACK": [],
    "SMARTSHEETS": [],
    "SNAPCHAT_MARKETING": [],
    "SURVEYMONKEY": [],
    "TICKTICK": [],
    "TIKTOK_MARKETING": [],
    "TRELLO": [],
    "TYPEFORM": [],
    "YOUTUBE_ANALYTICS": [],
    "ZENDESK_SUPPORT": [],
    "ZENDESK_TALK": []
  },
  "CiscoMeraki": {
    "CISCO_MERAKI": []
  },
  "SourceCiscoMerakiTypedDict": {},
  "SourceCiscoMeraki": {},
  "Finage": {
    "FINAGE": []
  },
  "TechnicalIndicatorType": {
    "DEMA": [],
    "EMA": [],
    "SMA": [],
    "WMA": [],
    "RSI": [],
    "TEMA": [],
    "WILLIAMS": [],
    "ADX": []
  },
  "TimeInterval": {
    "DAILY": [],
    "ONEMIN": [],
    "FIVEMIN": [],
    "FIFTEENMIN": [],
    "THIRTYMIN": [],
    "ONEHOUR": [],
    "FOURHOUR": []
  },
  "TimeAggregates": {
    "MINUTE": [],
    "HOUR": [],
    "DAY": [],
    "WEEK": [],
    "MONTH": [],
    "QUARTER": [],
    "YEAR": []
  },
  "TimePeriod": {
    "ANNUAL": [],
    "QUARTER": []
  },
  "SourceFinageTypedDict": {},
  "SourceFinage": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "Couchbase": {
    "COUCHBASE": []
  },
  "SourceCouchbaseTypedDict": {},
  "SourceCouchbase": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveAuthTypeService": {
    "SERVICE": []
  },
  "SourceGoogleDriveServiceAccountKeyAuthenticationTypedDict": {},
  "SourceGoogleDriveServiceAccountKeyAuthentication": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveAuthTypeClient": {
    "CLIENT": []
  },
  "SourceGoogleDriveAuthenticateViaGoogleOAuthTypedDict": {},
  "SourceGoogleDriveAuthenticateViaGoogleOAuth": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveAuthenticationTypedDict": [],
  "SourceGoogleDriveAuthentication": [],
  "SourceGoogleDriveDeliveryTypeUsePermissionsTransfer": {
    "USE_PERMISSIONS_TRANSFER": []
  },
  "SourceGoogleDriveReplicatePermissionsACLTypedDict": {},
  "SourceGoogleDriveReplicatePermissionsACL": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveDeliveryTypeUseFileTransfer": {
    "USE_FILE_TRANSFER": []
  },
  "SourceGoogleDriveCopyRawFilesTypedDict": {},
  "SourceGoogleDriveCopyRawFiles": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveDeliveryTypeUseRecordsTransfer": {
    "USE_RECORDS_TRANSFER": []
  },
  "SourceGoogleDriveReplicateRecordsTypedDict": {},
  "SourceGoogleDriveReplicateRecords": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveDeliveryMethodTypedDict": [],
  "SourceGoogleDriveDeliveryMethod": [],
  "GoogleDriveEnum": {
    "GOOGLE_DRIVE": []
  },
  "SourceGoogleDriveFiletypeExcel": {
    "EXCEL": []
  },
  "SourceGoogleDriveExcelFormatTypedDict": {},
  "SourceGoogleDriveExcelFormat": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveFiletypeUnstructured": {
    "UNSTRUCTURED": []
  },
  "SourceGoogleDriveMode": {
    "LOCAL": []
  },
  "SourceGoogleDriveLocalTypedDict": {},
  "SourceGoogleDriveLocal": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveProcessingTypedDict": [],
  "SourceGoogleDriveProcessing": [],
  "SourceGoogleDriveParsingStrategy": {
    "AUTO": [],
    "FAST": [],
    "OCR_ONLY": [],
    "HI_RES": []
  },
  "SourceGoogleDriveUnstructuredDocumentFormatTypedDict": {},
  "SourceGoogleDriveUnstructuredDocumentFormat": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveFiletypeParquet": {
    "PARQUET": []
  },
  "SourceGoogleDriveParquetFormatTypedDict": {},
  "SourceGoogleDriveParquetFormat": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveFiletypeJsonl": {
    "JSONL": []
  },
  "SourceGoogleDriveJsonlFormatTypedDict": {},
  "SourceGoogleDriveJsonlFormat": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveFiletypeCsv": {
    "CSV": []
  },
  "SourceGoogleDriveHeaderDefinitionTypeUserProvided": {
    "USER_PROVIDED": []
  },
  "SourceGoogleDriveUserProvidedTypedDict": {},
  "SourceGoogleDriveUserProvided": {
    "serialize_model": [
      "self",
      "handler"
    ]
  },
  "SourceGoogleDriveHeaderDefinitionTypeAutogenerated": {
    "AUTOGENERATED": []
  },
[...]
